<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coalesce Cloud Manager">
    <meta name="author" content="Transcirrus, LLC">

    <!-- CSS  ================================================ -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/external/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/external/bootstrap/bootstrap-social.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/external/font-awesome/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css//external/toastr.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/transcirrus.css"/>

    {% block stylesheets %}{% endblock %}

    <!-- FAVICONS  ================================================ -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico?v=2">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
</head>

<body>

<div id="confirm-modal" class="modal" role="dialog" aria-labelledby="modal-label"
     data-controls-modal="confirm-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                aria-expanded="false"
                aria-controls=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/welcome" class="navbar-badge">
            <img class="navbar-logo" src="{{ STATIC_URL }}images/transcirrus-icon.png">
                <span class="navbar-brand">
                    Trans<span style="font-weight: bold">Cirrus</span>
                    <span class="small" id="page-title"> - {% block title %}Welcome{% endblock %}</span>
                </span>
        </a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if token %}
                <li><a href="{% url 'home' %}" data-toggle="collapse" data-target=".navbar-collapse">Dashboard</a></li>
                {% if project_id %}
                    {% if user_level == 0 %}
                        {% if first_time == 'TRUE' %}
                            <li><a href="/setup" data-toggle="collapse" data-target=".navbar-collapse">Run Setup</a>
                            </li>
                        {% else %}
                            <li><a href="/cloud/manage" data-toggle="collapse" data-target=".navbar-collapse">Cloud</a>
                            </li>
                        {% endif %}
                    {% elif user_level == 1 %}
                        <li><a href="/projects/{{ project_id }}/pu_project_view/" data-toggle="collapse"
                               data-target=".navbar-collapse">My Project</a></li>
                    {% else %}
                        <li><a href="/projects/{{ project_id }}/basic_project_view/" data-toggle="collapse"
                               data-target=".navbar-collapse">My Project</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="{% url 'logout' %}" data-toggle="collapse" data-target=".navbar-collapse">Log Out</a></li>
            {% endif %}
        </ul>
    </div>

</nav>

<!-- MAIN CONTENT WELL  ====================================== -->
<section>
    <div class="container-fluid">
        {% block content %}
            PAGE CONTENT GOES HERE
        {% endblock %}
    </div>
</section>

<!-- FOOTER ================================================== -->
<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="footer-links small">
            <li>
                <a href="#">Back to Top</a>
            </li>
            <li>
                <a href={% url 'logout' %}>Log Out</a>
            </li>
            <li>
                <a href={% url 'terms-of-use' %}>Terms of Use</a>
            </li>
            <li>
                <a href={% url 'privacy-policy' %}>Privacy Policy</a>
            </li>
        </ul>
    </div>
    <span class="version-label small pull-right">version: {{ version }}</span>
</footer>

<!-- JAVASCRIPT ================================================== -->
<script src="{{ STATIC_URL }}javascripts/external/jquery-1.11.3.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/external/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/external/toastr.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/extensions.js"></script>
<script src="{{ STATIC_URL }}javascripts/messages.js"></script>

<!--HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script>
    USERNAME = "{{ username }}";
    USER_ID = "{{ user_id }}";
    USER_LEVEL = "{{ user_level }}";
    STATIC_URL = "{{ STATIC_URL }}";
    PROJECT_NAME = "{{ project_name }}";
    PROJECT_ID = "{{ project_id }}";
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
