<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coalesce Cloud Manager">
    <meta name="author" content="Transcirrus, LLC">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/transcirrus_webapp_base.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/transcirrus_navigation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>

    <!-- Favicons  ================================================ -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico?v=2">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">

    <!-- Le javascript ================================================== -->
    <!-- Placed at the beginning of the document so  programmers can find it -->

    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}javascripts/bootswatch.js"></script>
    <script src="{{ STATIC_URL }}javascripts/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/d3.min.js"></script>


    <script>
        function clearMessage() {
            document.getElementById("warning-messages").remove();
        }

        var USERNAME = "{{ username }}";
        var STATIC_URL = "{{ STATIC_URL }}";
    </script>
    {% block javascripts %}{% endblock %}
</head>

<body style="min-width: 800px; padding: 0;">
<div class="wrapper">
    <div class="navbar navbar-fixed-top" style="min-width: 445px; padding: 0;">
        <!-- Masthead ================================================== -->
        <header id="overview">
            <div class="row-fluid">
                <a href="/welcome"><img border="0" src="{{ STATIC_URL }}images/transcirrus_weblogo.png"
                                        alt="TransCirrus"
                                        width="205px!important" height="110px!important"
                                        style="float:left; margin-left: 20px;"></a>

                <div class="span5">
                    <h1 class="page-header">{% block title %}OVERRIDE THIS{% endblock %}</h1>
                </div>
            </div>
        </header>

        <!-- Navbar ================================================== -->
        <div class="version-container">
            <span class="version-label">version: {{ version }}</span>
        </div>
        <div class="navbar-inner" style="padding:0!important">
            <div class="container-fluid" style="height: 30px!important">
                <div class="nav" id="main-menu">
                    <ul class="nav" id="main-menu-left">
                        <li><a href={% url 'home' %}>{{ username }}</a></li>

                        {% block navigation %}
                            {% if project_id %}
                                {% if user_level == 0 %}
                                    {% if first_time == 'TRUE' %}
                                        <li><a href="/setup">Run Setup</a></li>
                                    {% else %}
                                        <li><a href="/cloud/manage">Cloud Management</a></li>
                                    {% endif %}
                                {% elif user_level == 1 %}
                                    <li><a href="/projects/{{ project_id }}/pu_project_view/">My Project</a></li>
                                {% else %}
                                    <li><a href="/projects/{{ project_id }}/basic_project_view/">My Project</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{% url 'login_page' %}">Log In</a></li>
                            {% endif %}
                        {% endblock %}

                        {% if token %}
                            <li><a href={% url 'logout' %}>Log Out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block secondary-nav %}{% endblock %}  <!-- use this slot in templates that need subnav.-->
    </div>
    <!-- =================  MAIN CONTENT WELL  ================= -->
    <div class="push"></div>

    {% if messages %}
        <p></p>
        <ul class="messages" id="warning-messages" onclick="clearMessage()">
            {% for message in messages %}
                <li
                        {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} (click to hide
                    message)
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container-fluid">
        <section id="page-content">
            <div class="page-divider">
            </div>
            <div class="row-fluid">
                {% block content %}
                    PAGE CONTENT GOES HERE
                {% endblock %}
            </div>
        </section>
    </div>
    <div class="push"></div>
</div>
<!-- end wrapper-->

<div class="footer-wrapper">
    <footer>
        <div class="container-fluid">
            <div class="row-fluid nav-header">
                <div class="span9">
                    <br>

                    <p class="small">
                        <b><span class="trans">trans</span><span class="cirrus">cirrus</span></b>
                    </p>

                    <p class="small"><i>
                        The information contained in this website is for general information purposes only.
                        The information is provided by <span class="trans">trans</span><span
                            class="cirrus">cirrus</span>, Inc. and while we endeavour to keep the
                        information up to date and correct, we make no representations or warranties of any
                        kind, express or implied, about the completeness, accuracy, reliability, suitability
                        or availability with respect to the website or the information, products, services,
                        or related graphics contained on the website for any purpose. Any reliance you place
                        on such information is therefore strictly at your own risk.
                    </i></p>
                </div>
                <div class="span2 offset1">
                    <br><br>

                    <p class="small">
                        {% if token %}
                            <small>Welcome,{{ user.username }} <br>
                                <a href={% url 'logout' %}> Log out</a><br>
                            </small>
                        {% else %}
                            <a href={% url 'login_page' %}> Log in</a><br>
                        {% endif %}
                        <a href={% url 'terms-of-use' %}>Terms of Use</a><br>
                        <a href={% url 'privacy-policy' %}>Privacy Policy</a><br>
                        <a href="#">Back to top</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
