<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coalesce Cloud Manager">
    <meta name="author" content="Transcirrus, LLC">

    <!--HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS  ================================================ -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-social.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/transcirrus.css"/>

    {% block stylesheets %}{% endblock %}

    <!-- FAVICONS  ================================================ -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico?v=2">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
</head>

<body>
<nav class="navbar navbar-inverse">
    <!-- NAVBAR ================================================== -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/welcome" class="navbar-badge"><img class="navbar-logo" src="{{ STATIC_URL }}images/transcirrus-icon.png">

                <p class="navbar-brand">Trans<span style="font-weight: bold">Cirrus</span></p></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if token %}
                    <li><a href={% url 'home' %}>Dashboard</a></li>
                    {% if project_id %}
                        {% if user_level == 0 %}
                            {% if first_time == 'TRUE' %}
                                <li><a href="/setup">Run Setup</a></li>
                            {% else %}
                                <li><a href="/cloud/manage">Cloud</a></li>
                            {% endif %}
                        {% elif user_level == 1 %}
                            <li><a href="/projects/{{ project_id }}/pu_project_view/">My Project</a></li>
                        {% else %}
                            <li><a href="/projects/{{ project_id }}/basic_project_view/">My Project</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href={% url 'logout' %}>Log Out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block secondary-nav %}{% endblock %}  <!-- use this slot in templates that need subnav.-->
</nav>

<!-- MAIN CONTENT WELL  ====================================== -->
<section>
    <div class="container-fluid">
        {% block content %}
            PAGE CONTENT GOES HERE
        {% endblock %}
    </div>
</section>

<!-- FOOTER ================================================== -->
<footer class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="footer-links small">
            <li>
                <a href="#">Back to Top</a>
            </li>
            <li>
                <a href={% url 'logout' %}>Log Out</a>
            </li>
            <li>
                <a href={% url 'terms-of-use' %}>Terms of Use</a>
            </li>
            <li>
                <a href={% url 'privacy-policy' %}>Privacy Policy</a>
            </li>
        </ul>
    </div>
    <span class="version-label small pull-right">version: {{ version }}</span>
</footer>

<!-- JAVASCRIPT ================================================== -->
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/d3.min.js"></script>

<script>
    var USERNAME = "{{ username }}",
            USER_LEVEL = "{{ user_level }}",
            STATIC_URL = "{{ STATIC_URL }}";
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
