{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-label">Build Project</h4>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row-fluid">
            <form id="project-form" class="form-horizontal">
                {% csrf_token %}
                <fieldset id="project-settings" class="form-inline">
                    <legend>Project Settings</legend>
                    <div class="form-group col-sm-12">
                        <label for="project-name" class="col-sm-4 control-label">Project Name:</label>
                        <input type="text" name="projectName" id="project-name" value=""
                               placeholder="Your Project's Name" class="col-sm-8">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="project-admin" class="col-sm-4 control-label">Project Admin Name:</label>
                        <input type="text" name="adminName" id="project-admin" value=""
                               placeholder="Project Admin's Name" class="col-sm-8">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="project-admin-email" class="col-sm-4 control-label">Project Admin E-Mail:</label>
                        <input type="email" name="adminEmail" id="project-admin-email" value=""
                               placeholder="Project Admin's E-Mail" class="col-sm-8">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="project-admin-password" class="col-sm-4 control-label">Project Admin
                            Password:</label>
                        <input type="password" name="adminPassword" id="project-admin-password" value=""
                               placeholder="Project Admin's Password" class="col-sm-8">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="project-admin-password-confirm" class="col-sm-4 control-label">Admin Password
                            Confirm:</label>
                        <input type="password" name="adminPasswordConfirm"
                               id="project-admin-password-confirm" value=""
                               placeholder="Confirm Admin's Password" class="col-sm-8">
                    </div>
                </fieldset>
                <fieldset id="security-settings" class="form-inline">
                    <legend>Security Settings</legend>
                    <div class="form-group col-sm-12">
                        <label for="security-group" class="col-sm-4 control-label">Security Group Name:</label>
                        <input type="text" name="securityGroup" id="security-group" value=""
                               placeholder="Project Security Group" class="col-sm-8">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="security-key" class="col-sm-4 control-label">Security Key Name:</label>
                        <input type="text" name="securityKey" id="security-key" value=""
                               placeholder="Project Security Key" class="col-sm-8">
                    </div>
                </fieldset>
                <fieldset id="network-settings" class="form-inline">
                    <legend>Network Settings</legend>
                    <div class="form-group col-sm-12">
                        <label for="network-name" class="col-sm-4 control-label">Private Network Name:</label>
                        <input type="text" name="networkName" id="network-name" value=""
                               placeholder="Project Private Network" class="col-sm-8">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="router-name" class="col-sm-4 control-label">Router Name:</label>
                        <input type="text" name="routerName" id="router-name" value=""
                               placeholder="Project Router" class="col-sm-8">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="dns-address" class="col-sm-4 control-label">Subnet DNS IP Address:</label>
                        <input type="text" name="dnsAddress" id="dns-address" value=""
                               placeholder="Project DNS Address" class="col-sm-8">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-loading-text="Close">Close</button>
    <button type="submit" form="project-form" class="btn btn-primary" data-loading-text="Loading ...">
        Build Project
    </button>
</div>

<script>
    $(function () {
        var buttons = $(this).parent().parent().find('button'),
            form = $('#project-form').validate({
                rules: {
                    projectName: {
                        required: true,
                        charField: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    adminName: {
                        required: true,
                        charField: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    adminEmail: {
                        required: true,
                        email: true
                    },
                    adminPassword: {
                        required: true
                    },
                    adminPasswordConfirm: {
                        required: true,
                        equalTo: "#project-admin-password"
                    },
                    securityGroup: {
                        required: true,
                        charField: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    securityKey: {
                        required: true,
                        charField: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    networkName: {
                        required: true,
                        charField: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    routerName: {
                        required: true,
                        charField: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    dnsAddress: {
                        required: true,
                        ip: true
                    }
                },
                submitHandler: function () {
                    setModalButtons(false, buttons);
                    $.ajax({
                        type: 'POST',
                        url: "/projects/build/",
                        data: $('#project-form').serialize(),
                        success: function (data) {
                            data = $.parseJSON(data);
                            if (data.status == "success") {
                                showMessage('success', "Successfully built new project, redirecting ...");
                                location.replace(data.redirect);
                            }
                            if (data.status == "error") {
                                showMessage('error', data.message);
                                setModalButtons(true, buttons);
                            }
                        },
                        error: function () {
                            showMessage('error', "Server Fault");
                            setModalButtons(true, buttons);
                        }
                    });
                    return false;
                },
                invalidHandler: function (event, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                                ? 'You missed 1 field. It has been highlighted'
                                : 'You missed ' + errors + ' fields. They have been highlighted';
                        showMessage('error', message)
                    }
                },
                debug: true
            });
    });
</script>