{% extends "coal/base-fluid.html" %}

{% block title %} Change Password{% endblock %}

{% block content %}
<div class="span12">

    <p>Please change your password {{user.username }}.</p>
    <p>By using this website, the user ("<b>user</b>" or "<b>you</b>") agree to the <a href="/terms-of-use">terms of use</a>. If you do not agree to these terms of use, you should exit the website.  By entering logon information and accessing the website contents, you are stating full acceptance of the terms.</p>

    <form action="" method="post">
    {% csrf_token %}
    <table>
      {% for field in form %}
        <tr><td>{{ field.label_tag }}</td><td>{{ field }} {{ field.errors }}</td></tr>
      {% endfor %}
    </table>
      <p><input type="submit" value="Change Password" /></p>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>
{% endblock %}

{% block footer-left %} {% endblock %}
