<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-label">{{ confirm.title }}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row-fluid">
            <p>{{ confirm.message }}</p>
            <p id="confirm-status"></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-loading-text="Close">Close</button>
    <button type="button" class="btn btn-primary" data-loading-text="Loading..." data-call="{{ confirm.call }}"
            data-notice="{{ confirm.notice }}" data-async="{{ confirm.async }}" data-refresh="{{ confirm.refresh }}" id="confirm">Confirm
    </button>
</div>