{% extends "coal/base-fluid.html" %}

{% block javascripts %}

<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/fip_view/fip-view-assign-dialog-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
<script src="{{ STATIC_URL }}javascripts/utility-functions.js"></script>
<script>
var PROJECT_ID = "{{fip.project_id}}";
        </script>
<script>
    var FIP = "{{fip.floating_ip}}";
</script>
{% endblock %}

{% block title %} Details for {{fip.floating_ip}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <div class="row-fluid">
            <div id="fip-details" class="well">
                <div class="legend">
                    Floating IP Details

                    {% if user_level == 0 %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/view/" class="btn"
                       style="float: right;">Return To Project</a>
                    {% elif user_level == 1 %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/pu_project_view/"
                       class="btn"
                       style="float: right;">Return To Project</a>
                    {% else %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/basic_project_view/"
                       class="btn" style="float: right;">Return To Project</a>
                    {% endif %}
                </div>
                <table class="paleblue widget-table">
                    <tr>
                        <th>Address</th>
                        <td id="fip-ip">{{fip.floating_ip}}</td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td id="fip-id">{{fip.floating_ip_id}}</td>
                    </tr>
                    <tr>
                        <th>Assigned To (Name: Id)</th>
                        <td id="fip-assigned">
                            {% if fip.instance_name != "" %}
                            {{fip.instance_name}}: {{fip.instance_id}}
                            {% else %}
                            None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Internal Network (Name: Id)</th>
                        <td id="fip-network">
                            {% if fip.internal_net_name != "" %}
                            {{fip.internal_net_name}}: {{fip.internal_net_id}}
                            {% else %}
                            None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Project Id</th>
                        <td id="fip-project">{{fip.project_id}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- end inner row -->

        <div class="row-fluid">
            <div id="widget-actions" class="well top">
                <div class="legend">
                    Actions
                </div>

                <div class="center-buttons">
                    {% if fip.instance_name == "" %}
                    <a href="#" id="view-assign_ip" class="btn">Assign</a>
                    {% else %}
                    <a href="/unassign_floating_ip/{{fip.floating_ip_id}}/" class="btn">Unassign</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- end inner row -->

        <div id="fip-progressbar" class="ui-progressbar"
             style="height: 1em; margin: .3em; padding: .2em; display: none;"></div>

    </div>
    <!-- end span5-->

</div><!-- end row-fluid-->

<div id="fip-view-assign-dialog-form" title="Assign floating IP to instance">
    <p class="validateTips">Assign {{fip.floating_ip}} to an instance. </p>

    <form>
        {% csrf_token %}
        <fieldset>
            <label for="assign_instance">Instance</label>
            <select name="assign_instance" id="assign_instance">
                {% for server in instances %}
                <option value="{{server.server_id}}">{{server.server_name}}</option>
                {% endfor %}
            </select>
        </fieldset>
    </form>
</div>


{% endblock %}
