{% extends "coal/base-fluid.html" %}

{% block title %} Details for {{fip.floating_ip}}{% endblock %}

{% block content %}

    <div class="row-fluid">
      <div class="span6">
        <div class="well">
          <div class="legend">
              Details for {{fip.floating_ip}}
          </div>
          <table class="paleblue">
              <tr><th>floating_ip_id</th><td>{{fip.floating_ip_id}}</td></tr>
              <tr><th>instance_name</th><td>{{fip.instance_name}}</td></tr>
              <tr><th>instance_id</th><td>{{fip.instance_id}}</td></tr>
              <tr><th>internal_net_name</th><td>{{fip.internal_net_name}}</td></tr>
              <tr><th>internal_net_id</th><td>{{fip.internal_net_id}}</td></tr>
              <tr><th>project_id</th><td>{{fip.project_id}}</td></tr>
          </table>
        </div>
      </div><!-- end span6-->

    </div><!-- end row-fluid-->


{% endblock %}
