{% extends "coal/base-fluid.html" %}

{% block title %} Details for {{fip.floating_ip}}{% endblock %}

{% block content %}

    <div class="row-fluid">
      <div class="span6">
        <div class="well">
          <div class="legend">
              Floating IP Details
          </div>
          <table class="paleblue">
              <tr><th>Address</th><td>{{fip.floating_ip}}</td></tr>
              <tr><th>Id</th><td>{{fip.floating_ip_id}}</td></tr>
              <tr><th>Assigned To (Name: Id)</th><td>{{fip.instance_name}}: {{fip.instance_id}}</td></tr>
              <tr><th>Internal Network (Name: Id)</th><td>{{fip.internal_net_name}}: {{fip.internal_net_id}}</td></tr>
              <tr><th>Project Id</th><td>{{fip.project_id}}</td></tr>
          </table>
        </div>
      </div><!-- end span6-->
      
      <div class="span5 offset1">
        <div class="well">
          <div class="legend">
            Actions
            {% if user_level == 0 %}
              <a href="{{ default_public }}/projects/{{fip.project_id}}/view/" class="btn btn-mini btn-inverse" style="float: right;">return to project</a>
            {% elif user_level == 1 %}
              <a href="{{ default_public }}/projects/{{fip.project_id}}/pu_project_view/" class="btn btn-mini btn-inverse" style="float: right;">return to project</a>
            {% else %}
              <a href="{{ default_public }}/projects/{{fip.project_id}}/basic_project_view/" class="btn btn-mini btn-inverse" style="float: right;">return to project</a>
            {% endif %}
          </div>
        </div>
      </div>
      
    </div><!-- end row-fluid-->



{% endblock %}
