<div id="info-modal" class="modal" role="dialog" aria-labelledby="modal-label"
     data-controls-modal="info-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">{{ info.title }}</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row-fluid info-content">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
       $("#info-modal")
    });
    $(".close").click(function(event){
        var container = "{{ info.container }}";
        refreshContent($("#page-content"), $(container), "{{ info.refresh }}")
    });
</script>