{% extends "coal/base-fluid.html" %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css">
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-resize-dialog-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-reboot-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-cycle-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-poweroff-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-poweron-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-forms.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
<script src="{{ STATIC_URL }}javascripts/utility-functions.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/d3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/d3_charts/gauge.js"></script>
<script>
    var PROJECT_ID = "{{current_project_id}}";
</script>
<script>
    var DEFAULT_PUBLIC = "{{ default_public }}";
</script>
<script>
    var SERVER_ID = "{{server.server_id}}";
</script>
<script>
    var SERVER_NAME = "{{server.server_name}}";
</script>
<script>
    var attachedIp = "{{server.server_public_ips}}";
    deleteCheck("#instance-details");
</script>

{% endblock %}

{% block title %} Details for {{server.server_name}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span6">
        <div id="instance-details" class="well well-wide">
            <div class="legend">

                <div id="instance_progressbar" class="ui-progressbar progressbar">
                    <span class="progressbar-text">Working</span>
                </div>

                Instance Details

                {% if user_level == 0 %}
                <a href="{{ default_public }}/projects/{{current_project_id}}/view/" class="btn"
                   style="float: right;">Return To Project</a>
                {% elif user_level == 1 %}
                <a href="{{ default_public }}/projects/{{current_project_id}}/pu_project_view/"
                   class="btn"
                   style="float: right;">Return To Project</a>
                {% else %}
                <a href="{{ default_public }}/projects/{{current_project_id}}/basic_project_view/"
                   class="btn" style="float: right;">Return To Project</a>
                {% endif %}
            </div>

            <div id="delete-check"></div>

            <table class="paleblue widget-table">
                <tr>
                    <th>Name</th>
                    <td><p id="instance-name">{{server.server_name}}</p></td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td><p id="instance-id">{{server.server_id}}</p></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><p id="instance-status">{{server.server_status}}</p></td>
                </tr>
                <tr>
                    <th>OS</th>
                    <td><p id="instance-os">{{server.server_os}}</p></td>
                </tr>
                <tr>
                    <th>Flavor</th>
                    <td><p id="instance-flavor">{{server.server_flavor}}</p></td>
                </tr>
                <tr>
                    <th>Key Name</th>
                    <td><p id="instance-key">{{server.server_key_name}}</p></td>
                </tr>
                <tr>
                    <th>Group Name</th>
                    <td><p id="instance-group">{{server.server_group_name}}</p></td>
                </tr>
                <tr>
                    <th>Public IPs</th>
                    <td><p id="instance-ip">{{server.server_public_ips}}</p></td>
                </tr>
                <!--<tr><th>Node</th><td>{{server.server_node}}</td></tr>-->
                <tr>
                    <th>Network Id</th>
                    <td>{{server.server_net_id}}</td>
                </tr>
                <tr>
                    <th>Internal Network</th>
                    {% for k,v in server.server_int_net.items %}
                    <td>{{k}}:
                        {% for i in v %}
                        {{i.addr}}
                    </td>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </table>

            <!--<div id="widget-actions" class="well top well-wide">-->
            <table class="paleblue widget-table" style="margin-top: 10px;">
                <tr>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td id="widget-actions">
                        <a href="#" class="btn" id="resize-server">Resize Instance</a>
                        {% if server.server_status != "SHUTOFF" %}
                        <a href="#" class="btn" id="reboot-server"> Reboot </a>
                        <a href="#" class="btn" id="cycle-server"> Power Cycle </a>
                        <a href="#" class="btn" id="poweroff-server"> Power Off </a>
                        <a href="#" class="btn" id="poweron-server" style="display:none"> Power On </a>
                        {% else %}
                        <a href="#" class="btn" id="reboot-server" style="display:none"> Reboot </a>
                        <a href="#" class="btn" id="cycle-server" style="display:none"> Power Cycle </a>
                        <a href="#" class="btn" id="poweroff-server" style="display:none"> Power Off </a>
                        <a href="#" class="btn" id="poweron-server"> Power On </a>
                        {% endif %}
                        {% if server.server_status == "ACTIVE" %}
                        <a href="#" class="btn" id="revert-server"> Revert </a>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <!--</div>-->
        </div>
    </div>
    <!-- end span6 -->

    <div class="span6">
        <div class="row-fluid">
            <div id="widget-actions" class="well top">
                <div class="legend">
                    Last 24hrs: Average Instance Meters
                </div>
                <div style="text-align: center">
                    <body onload="initialize()" style="font: 10px arial">
                        <span id="vcpusGaugeContainer"></span>
                        <span id="memoryGaugeContainer"></span>
                        <span id="diskrootsizeGaugeContainer"></span>
                    </body>
                </div>
            </div>
        </div>
    </div>

    <div class="span6">
        <div id="snapshot-details" class="well well-wide">
            <div class="legend">

                <div id="snapshot_progressbar" class="ui-progressbar progressbar">
                    <span class="progressbar-text">Working</span>
                </div>

                Snapshot Details

                <a href="#" id="create-instance-snapshot" class="btn" style="float:right">Snapshot</a>
            </div>
            <table id="snapshot_list" class="paleblue widget-table table-wide">
                <tr>
                    <th>Snapshot</th>
                    <th>ID</th>
                    <th>Actions</th>
                </tr>
                {% if snapshots %}
                {% for snapshot in snapshots %}
                <script>
                    instanceSnaps.setItem("{{snapshot.snapshot_id}}",
                            { name: "{{snapshot.snapshot_name}}", instanceId: SERVER_ID, instanceName: SERVER_NAME });
                </script>
                <tr id="{{snapshot.snapshot_id}}">
                    <td id="{{snapshot.snapshot_id}}-name-cell">{{snapshot.snapshot_name}}</td>
                    <td id="{{snapshot.snapshot_id}}-id-cell">{{snapshot.snapshot_id}}</td>
                    <td id="{{snapshot.snapshot_id}}-actions-cell">
                        <a href="#" class="delete-snapshot">delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr id="snapshot_placeholder">
                    <td>This instance has no snapshots.</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <!-- end span6 -->
</div> <!-- end row-fluid -->

<div class="row-fluid">
    <div class="span12">
        <div class="well top well-wide">
            <div class="legend">
                <div id="widget-console-icon" class="widget-section-icon" style="float:left; margin-top: -3px;">-</div>

                Console

                <a href="#" id="refresh-console" class="btn" style="float: right;">Refresh</a>
            </div>
            <div class="widget-console-well">
                <iframe id="instance-console" class="widget-console" name="noVNCConsole"
                        src="{{server.novnc_console}}"></iframe>
            </div>
        </div>
    </div>
    <!-- end span12 -->
</div> <!-- end row-fluid -->

<div id="instance-view-resize-dialog-form" title="Resize server?">
    <form id="instance-resize-form" action="">
        {% csrf_token %}
        <fieldset>
            <label for="flavor">Select new flavor</label>
            <select name="flavor" id="flavor">
                {% for flav in flavors %}
                <option value="{{flav.flav_id}}">{{flav.flavor_name}}</option>
                {% endfor %}
            </select>
        </fieldset>
    </form>
</div>

<div id="instance-snapshot-dialog-form" title="Snapshot an instance">
    <p class="validateTips">Specify name and description. </p>

    <form>
        {% csrf_token %}
        <fieldset>
            <label for="instance_snap_name">Snapshot Name</label>
            <input type="text" name="instance_snap_name" id="instance_snap_name"
                   class="text ui-widget-content ui-corner-all"/>
            <label for="instance_snap_desc">Description</label>
            <textarea name="instance_snap_desc" id="instance_snap_desc" class="text ui-widget-content ui-corner-all"
                      maxlength="80" placeholder="enter a description for the snapshot (optional)"
                      rows="2"></textarea>
        </fieldset>
    </form>
</div>

<div id="instance-revert-form" title="Revert Instance">
    <p class="validateTips">Revert <span class="instance-name"></span> from snapshot.</p>

    <form>
        {% csrf_token %}
        <fieldset>
            <label for="instance_snapshot_name">Snapshot</label>
            <select name="instance_snapshot_name" id="instance_snapshot_name"></select>
        </fieldset>
    </form>
</div>

<!-- Action Forms -->

<div id="instance-view-reboot-confirm-form" title="Reboot server?"></div>
<div id="instance-view-cycle-confirm-form" title="Power cycle server?"></div>
<div id="instance-view-poweroff-confirm-form" title="Power server Off?"></div>
<div id="instance-view-poweron-confirm-form" title="Power server On?"></div>
<div id="instance-console-refresh-confirm-form" title="Refresh console?"></div>

</div><!-- end row-fluid-->

<script>
    var consoleHidden = false;

    $(function () {
        $("#widget-console-icon").click(function (event) {

            // Prevent scrolling to top of page on click
            event.preventDefault();

            if (consoleHidden) {

                $(".widget-console").show(0);
                $(".widget-console-well").removeClass("well-hidden");
                $("#widget-console-icon").text("-");
                consoleHidden = false;
            } else {

                $(".widget-console").hide(0);
                $(".widget-console-well").addClass("well-hidden");
                $("#widget-console-icon").text("+");
                consoleHidden = true;
            }
        });
    });
</script>

<script>
    var gauges = [];

    function createGauge(name, label, meterType, calcType, min, max, minorTicks)
    {
        var config =
        {
            size: 120,
            label: label,
            meterType: meterType,
            calcType: calcType,
            min: undefined != min ? min : 0,
            max: undefined != max ? max : 1000,
            minorTicks: minorTicks
        }

        var range = config.max - config.min;
        config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];
        config.redZones = [{ from: config.min + range*0.9, to: config.max }];

        gauges[name] = new Gauge(name + "GaugeContainer", config);
        gauges[name].render();
    }

    function createGauges()
    {
        createGauge("vcpus", "vCPU Count", "vcpus", "avg", 0, 64, 16);
        createGauge("memory", "RAM Alloc MB", "memory", "avg", 0, 128000, 8);
        createGauge("diskrootsize", "Disk Alloc GB", "disk.root.size", "avg", 0, 1000, 8);
    }

    function updateGauges()
    {
        for (var key in gauges)
        {
            getCeilometerResults(gauges[key], gauges[key].config.meterType, gauges[key].config.calcType)
        }
    }

    function getCeilometerResults(guage, meterType, calcType)
    {
        var endDate = new Date.UTC();
        var startDate = new Date(endDate);
        var durationInMinutes = 1440;
        startDate.setMinutes(endDate.getMinutes() - durationInMinutes);
        var startTimeString = startDate.getFullYear() + "-" + (startDate.getMonth() + 1 )+ "-" + startDate.getDate() + "T" + ("0" + startDate.getHours()).slice(-2) + "%3A" + ("0" + startDate.getMinutes()).slice(-2);
        var endTimeString = endDate.getFullYear() + "-" + (endDate.getMonth() + 1) + "-" + endDate.getDate() + "T" + ("0" + endDate.getHours()).slice(-2) + "%3A" + ("0" + endDate.getMinutes()).slice(-2);
        var url = "ceilometer/get/statistics/" + startTimeString + "/" + endTimeString + "/" + meterType + "/" + getProjectID() + "/" + getInstanceID() + "/"
        console.log(url);
        return $.getJSON(url).done(function(data) {
            if (data.status == "success")
            {
                if (data.message != "empty dataset")
                {
                    var result = data.statistics[0][calcType];
                    guage.redraw(result);
                }
            }
            else
            {
                if (got_data)
                    message.showMessage('error', data.message);
                got_data = false;
            }
        });
    }

    var got_data = true;

    function getProjectID()
    {
        return PROJECT_ID;
    }

    function getInstanceID()
    {
        return $("#instance-id").html();
    }

    function initialize()
    {
        createGauges();
        {#5000 = 5 seconds#}
        setInterval(updateGauges, 5000);
    }

</script>

{% endblock %}
