{% extends "coal/base-fluid.html" %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css">
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-resize-dialog-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-reboot-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-cycle-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/instance_view/instance-view-poweroff-confirm-form.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
<script src="{{ STATIC_URL }}javascripts/utility-functions.js"></script>
<script>
    var PROJECT_ID = "{{current_project_id}}";
</script>
<script>
    var SERVER_ID = "{{server.server_id}}";
</script>
<script>
    var DEFAULT_PUBLIC = "{{ default_public }}";
</script>
<script>
    var attachedIp = "{{server.server_public_ips}}";
    deleteCheck("#instance-details");
</script>

{% endblock %}

{% block title %} Details for {{server.server_name}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <div class="row-fluid">
            <div id="instance-details" class="well">
                <div class="legend">
                    Instance Details

                    {% if user_level == 0 %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/view/" class="btn"
                       style="float: right;">Return To Project</a>
                    {% elif user_level == 1 %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/pu_project_view/"
                       class="btn"
                       style="float: right;">Return To Project</a>
                    {% else %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/basic_project_view/"
                       class="btn" style="float: right;">Return To Project</a>
                    {% endif %}
                </div>

                <div id="delete-check"></div>

                <table class="paleblue widget-table">
                    <tr>
                        <th>Name</th>
                        <td><p id="instance-name">{{server.server_name}}</p></td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td><p id="instance-id">{{server.server_id}}</p></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><p id="instance-status">{{server.server_status}}</p></td>
                    </tr>
                    <tr>
                        <th>OS</th>
                        <td><p id="instance-os">{{server.server_os}}</p></td>
                    </tr>
                    <tr>
                        <th>Flavor</th>
                        <td><p id="instance-flavor">{{server.server_flavor}}</p></td>
                    </tr>
                    <tr>
                        <th>Key Name</th>
                        <td><p id="instance-key">{{server.server_key_name}}</p></td>
                    </tr>
                    <tr>
                        <th>Group Name</th>
                        <td><p id="instance-group">{{server.server_group_name}}</p></td>
                    </tr>
                    <tr>
                        <th>Public IPs</th>
                        <td><p id="instance-ip">{{server.server_public_ips}}</p></td>
                    </tr>
                    <!--<tr><th>Node</th><td>{{server.server_node}}</td></tr>-->
                    <tr>
                        <th>Network Id</th>
                        <td>{{server.server_net_id}}</td>
                    </tr>
                    <tr>
                        <th>Internal Network</th>
                        {% for k,v in server.server_int_net.items %}
                        <td>{{k}}:
                            {% for i in v %}
                            {{i.addr}}
                        </td>
                        {% endfor %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div> <!-- end inner row -->

        <div class="row-fluid">
            <div id="widget-actions" class="well top">
                <div class="legend">
                    Actions
                </div>

                <div class="center-buttons">
                    <a href="#" id="resize-server" class="btn">Resize Instance</a>
                    <a href="#" id="reboot-server" class="btn">Reboot</a>
                    <a href="#" id="cycle-server" class="btn">Power Cycle</a>
                    <a href="#" id="poweroff-server" class="btn">Power Off</a>
                </div>
            </div>
        </div> <!-- end inner row -->

        <div id="instance_progressbar" class="ui-progressbar"
             style="height: 1em; margin: .3em; padding: .2em; display: none;"></div>

    </div> <!-- end span5 -->


    <div class="span7">
        <div class="well top widget-console-well">
            <div class="legend">
                Console
                <a href="#" id="refresh-console" class="btn" style="float: right;">Refresh</a>
            </div>
            <iframe id="instance-console" class="widget-console" name="noVNCConsole"
                    src="{{server.novnc_console}}"></iframe>
        </div>
    </div> <!-- end span7 -->

    <div id="instance-view-resize-dialog-form" title="Resize server?">
        <form id="instance-resize-form" action="">
            {% csrf_token %}
            <fieldset>
                <label for="flavor">Select new flavor</label>
                <select name="flavor" id="flavor">
                    {% for flav in flavors %}
                    <option value="{{flav.flav_id}}">{{flav.flavor_name}}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </form>
    </div>

    <!-- Action Forms -->

    <div id="instance-view-reboot-confirm-form" title="Reboot server?">
        <form id="instance-reboot-form"
              action="/server/{{current_project_id}}/{{server.server_id}}/reboot" method="get"></form>
    </div>

    <div id="instance-view-cycle-confirm-form" title="Power cycle server?">
        <form id="instance-cycle-form"
              action="/server/{{current_project_id}}/{{server.server_id}}/power_cycle" method="get"></form>
    </div>

    <div id="instance-view-poweroff-confirm-form" title="Power server Off?"></div>

    <div id="instance-console-refresh-confirm-form" title="Refresh console?"></div>

</div><!-- end row-fluid-->


{% endblock %}
