{% extends "coal/base-fluid.html" %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/messages.js"></script>
<script src="{{ STATIC_URL }}javascripts/utilities.js"></script>
{% endblock %}

{% block title %} Details for {{key_info.sec_key_name}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <div class="well">
            <div class="legend">
                Key Pair Details

                {% if user_level == 0 %}
                <a href="{{ default_public }}/projects/{{current_project_id}}/view/" class="btn"
                   style="float: right;">Return To Project</a>
                {% elif user_level == 1 %}
                <a href="{{ default_public }}/projects/{{current_project_id}}/pu_project_view/"
                   class="btn" style="float: right;">Return To Project</a>
                {% else %}
                <a href="{{ default_public }}/projects/{{current_project_id}}/basic_project_view/"
                   class="btn" style="float: right;">Return To Project</a>
                {% endif %}
            </div>

            <table class="paleblue widget-table">
                <tr>
                    <th>Name</th>
                    <td>{{key_info.sec_key_name}}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{key_info.sec_key_id}}</td>
                </tr>
                <tr>
                    <th>RSA Private Key</th>
                    <td>
                        <a href="/download_public_key/{{key_info.sec_key_id}}/{{key_info.sec_key_name}}/{{current_project_id}}">Download
                            RSA Key</a></td>
                </tr>
            </table>
        </div>
    </div> <!-- end span5-->
</div> <!-- end row-fluid-->

{% endblock %}
