{% extends "coal/base-fluid.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="row-fluid offset1">
    <div class="span3">
        <div class="well">
            <div class="legend">
                Log Into TransCirrus
            </div>
            {% load crispy_forms_tags %}
            {% crispy form %}
        </div>
    </div>
    <div class="span7" style="margin-left: 0">
        <div class="well">
            <div class="legend">
                Welcome
            </div>
            <p>
                By using this website, the user ("<b>user</b>" or "<b>you</b>") agree to the <a
                    href="/terms-of-use">Terms of Use</a>.
                If you do not agree to these terms of use, you should exit the website. By entering login
                information and accessing the website contents, you are stating full acceptance of the terms.
            </p>

            <p>
                If you don't have or have forgotten your logon credentials, please contact your Trans<span
                    style="color: rgb(255,111,15)">Cirrus</span> Cloud Administrator to gain access to this site.
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block footer-left %} {% endblock %}
