{% extends "coal/base-fluid.html" %}

{% block title %} Details for {{nw.net_name}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well">
            <div class="legend">
                Network Details

{#                {% if user_level == 0 %}#}
{#                <a href="{{ default_public }}/projects/{{nw.project_id}}/view/" class="btn"#}
{#                   style="float: right;">Return To Project</a>#}
{#                {% elif user_level == 1 %}#}
{#                <a href="{{ default_public }}/projects/{{nw.project_id}}/pu_project_view/"#}
{#                   class="btn" style="float: right;">Return To Project</a>#}
{#                {% else %}#}
{#                <a href="{{ default_public }}/projects/{{nw.project_id}}/basic_project_view/"#}
{#                   class="btn" style="float: right;">Return To Project</a>#}
{#                {% endif %}#}
            </div>

            <table class="paleblue widget-table">
                <tr>
                    <th>Name</th>
                    <td>{{nw.net_name}}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{nw.net_id}}</td>
                </tr>
                <tr>
                    <th>Creator Id</th>
                    <td>{{nw.net_creator_id}}</td>
                </tr>
                <tr>
                    <th>Shared</th>
                    <td>{{nw.net_shared}}</td>
                </tr>
                <tr>
                    <th>Internal</th>
                    <td>{{nw.net_internal}}</td>
                </tr>
                <tr>
                    <th>Admin State</th>
                    <td>{{nw.net_admin_state}}</td>
                </tr>
                <tr>
                    <th>Project Id</th>
                    <td>{{nw.project_id}}</td>
                </tr>
            </table>
        </div>
    </div> <!-- end span8-->
</div> <!-- end row-fluid -->

<div class="row-fluid">
    {% if nw.net_name != "DefaultPublic" %}
    <div class="span8 offset1">
        <div class="well">
            <div class="legend">
                Subnet Details

{#                {% if user_level == 0 %}#}
{#                <a href="{{ default_public }}/projects/{{sn.project_id}}/view/" class="btn"#}
{#                   style="float: right;">Return To Project</a>#}
{#                {% elif user_level == 1 %}#}
{#                <a href="{{ default_public }}/projects/{{sn.project_id}}/pu_project_view/"#}
{#                   class="btn" style="float: right;">Return To Project</a>#}
{#                {% else %}#}
{#                <a href="{{ default_public }}/projects/{{sn.project_id}}/basic_project_view/"#}
{#                   class="btn" style="float: right;">Return To Project</a>#}
{#                {% endif %}#}
            </div>
            <table class="paleblue widget-table">
                <tr>
                    <th>Name</th>
                    <td>{{sn.subnet_name}}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{sn.subnet_id}}</td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td>{{sn.subnet_class}}</td>
                </tr>
                <tr>
                    <th>IP Version</th>
                    <td>{{sn.subnet_ip_ver}}</td>
                </tr>
                <tr>
                    <th>Gateway</th>
                    <td>{{sn.subnet_gateway}}</td>
                </tr>
                <tr>
                    <th>Mask</th>
                    <td>{{sn.subnet_mask}}</td>
                </tr>
                <tr>
                    <th>Allocation Start</th>
                    <td>{{sn.subnet_allocation_start}}</td>
                </tr>
                <tr>
                    <th>Allocation End</th>
                    <td>{{sn.subnet_allocation_end}}</td>
                </tr>
                <tr>
                    <th>DHCP Enabled</th>
                    <td>{{sn.subnet_dhcp_enable}}</td>
                </tr>
            </table>
        </div>
    </div> <!-- end span8-->
    {% endif %}
</div> <!-- end row-fluid-->

{% endblock %}