{% extends "coal/base-fluid.html" %}

{% block title %} Details for {{nw.net_name}}{% endblock %}

{% block content %}

    <div class="row-fluid">
      <div class="span3">
        <div class="well">
          <div class="legend">
              Details for {{nw.net_name}}
          </div>
          <table class="paleblue">
              <tr><th>Id</th><td>{{nw.net_id}}</td></tr>
              <tr><th>Project Id</th><td>{{nw.project_id}}</td></tr>
              <tr><th>Shared</th><td>{{nw.net_shared}}</td></tr>
              <tr><th>Creator Id</th><td>{{nw.net_creator_id}}</td></tr>
              <tr><th>Internal</th><td>{{nw.net_internal}}</td></tr>
              <tr><th>Admin State</th><td>{{nw.net_admin_state}}</td></tr>
          </table>
        </div>
      </div><!-- end span3-->
      <div class="span3">
        <div class="well">
          <div class="legend">
            Subnet Details
          </div>
          <table class="paleblue">
              <tr><th>Name</th><td>{{sn.subnet_name}}</td></tr>
              <tr><th>Id</th><td>{{sn.subnet_id}}</td></tr>
              <tr><th>Class</th><td>{{sn.subnet_class}}</td></tr>
              <tr><th>IP Version</th><td>{{sn.subnet_ip_ver}}</td></tr>
              <tr><th>Gateway</th><td>{{sn.subnet_gateway}}</td></tr>
              <tr><th>Mask</th><td>{{sn.subnet_mask}}</td></tr>
              <tr><th>Allocation Start</th><td>{{sn.subnet_allocation_start}}</td></tr>
              <tr><th>Allocation End</th><td>{{sn.subnet_allocation_end}}</td></tr>
              <tr><th>DHCP Enabled</th><td>{{sn.subnet_dhcp_enable}}</td></tr>
          </table>
        </div>
      </div><!-- end span3-->
      <!--<div class="span5 offset1">
        <div class="well">
          <div class="legend">
              Actions for {{ user_info.username }}
          </div>
          <div id="dialog-form-update-password" title="Update Password">
                <p class="validateTips">All form fields are required.</p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="password1">Password</label>
                    <input type="password" name="password1" id="password1" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>
          <a href="#" id="update-user-password">update password</a>
        </div>
      </div><!-- end span6-->
    {% if nw.net_name != "DefaultPublic" %}
      <div class="span5 offset1">
        <div class="well">
          <div class="legend">
            Actions
            {% if user_level == 0 %}
              <a href="{{ default_public }}/projects/{{nw.project_id}}/view/" class="btn btn-mini btn-inverse" style="float: right;">return to project</a>
            {% elif user_level == 1 %}
              <a href="{{ default_public }}/projects/{{nw.project_id}}/pu_project_view/" class="btn btn-mini btn-inverse" style="float: right;">return to project</a>
            {% else %}
              <a href="{{ default_public }}/projects/{{nw.project_id}}/basic_project_view/" class="btn btn-mini btn-inverse" style="float: right;">return to project</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    </div><!-- end row-fluid-->


{% endblock %}
