{% extends "coal/base-fluid.html" %}

{% block title %}Project View{% endblock %}
{% block javascripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/create_user.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/add_existing_user.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/update_user_password.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/sec-group-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/keypair-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/volume-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/volume-attach-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/snapshot-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/private-network-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/router-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/instance-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/fip-assign-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/instance-live-migrate-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/instance-migrate-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/instance-evacuate-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/image-import-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/container-dialog-form.js"/></script>
    <script>
      var PROJECT = "{{ project.project_name }}";
    </script>
    <script>
      var PROJECT_ID = "{{ project.project_id }}";
    </script>
    <script>
      var DEFAULT_PUBLIC = "{{ default_public }}";
    </script>
<script>
$(document).ready(function() {
    $('a[data-confirm]').click(function(ev) {
        var href = $(this).attr('href');
        if (!$('#dataConfirmModal').length) {
            $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">'+
                                         '<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'+
                                         '<h3 id="dataConfirmLabel">Please Confirm</h3></div><div class="modal-body"></div>'+
                                         '<div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>'+
                                         '<a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div>');
        }
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
        $('#dataConfirmOK').attr('href', href);
        $('#dataConfirmModal').modal({show:true});
        return false;
    });
});
</script>


{% endblock %}

{% block content %}

    <div class="span12 well legend-header">
        {{ project.project_name}}
    </div>

    <h4>Instance Management</h4>
    <div class="row-fluid">
      {% include "coal/project_view_widgets/instances.html" %}
      {% include "coal/project_view_widgets/images.html" %}
      {% include "coal/project_view_widgets/floating_ips.html" %}
    </div>

    <h4>Storage</h4>
    <div class="row-fluid">
      {% include "coal/project_view_widgets/volumes.html" %}
      {% include "coal/project_view_widgets/snapshots.html" %}
      {% include "coal/project_view_widgets/object_containers.html" %}
    </div>

    <h4>Software Defined Networking </h4>
    <div class="row-fluid">
      {% include "coal/project_view_widgets/external_networks.html" %}
      {% include "coal/project_view_widgets/routers.html" %}
      {% include "coal/project_view_widgets/internal_networks.html" %}
    </div>
    
    <h4>Users/Security</h4>
    <div class="row-fluid">
      {% include "coal/project_view_widgets/users.html" %}
      {% include "coal/project_view_widgets/security_groups.html" %}
      {% include "coal/project_view_widgets/key_pairs.html" %}
    </div>

    {% if user_level == 0 %}
        <a href="/projects/{{project.project_id}}/{{project.project_name}}/delete" 
        data-confirm="Are you sure you want to delete?" 
        class="btn btn-danger" 
        style="float:right">
            <i class="icon-white icon-trash"></i> Delete Project
        </a>
        {% endif %}


{% endblock %}
