{% extends "coal/base-fluid.html" %}

{% block title %} Project View{% endblock %}
{% block javascripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/create_user.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/add_existing_user.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/update_user_password.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/sec-group-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/keypair-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/volume-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/snapshot-dialog-form.js"/></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/private-network-dialog-form.js"/></script>
    <script>
      var PROJECT = "{{ project.project_name}}";
    </script>
    <script>
      var PROJECT_ID = "{{ project.project_id}}";
    </script>
<script>
$(document).ready(function() {
	$('a[data-confirm]').click(function(ev) {
		var href = $(this).attr('href');
		if (!$('#dataConfirmModal').length) {
			$('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please Confirm</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div>');
		}
		$('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
		$('#dataConfirmOK').attr('href', href);
		$('#dataConfirmModal').modal({show:true});
		return false;
	});
});
</script>


{% endblock %}

{% block content %}
{% load extratags %}



    <div class="span12 well legend-header">
        {{ project.project_name}} ({{project.project_id}}) <a href="/projects/{{project.id}}/delete" data-confirm="Are you sure you want to delete?" class="btn btn-danger" style="float:right"><i class="icon-white icon-trash"></i> Delete Project</a>
    </div>

    <!--  Begin Row One -->
    <div class="row-fluid">

      <!-- Begin user widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Users   <a href="#"  id="create-user" class="btn btn-mini" style="float:right"><i class="icon-plus"></i> New User</a>
             {% if ouserinfo%}
                <a href="#" id="add-existing-user" class="btn btn-mini" style="float:right"><i class="icon-plus"></i> Add Existing User</a>
             {% endif %}
          </div>


          <div id="dialog-form" title="Create new user">
                <p class="validateTips">All form fields are required.</p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
                    <select name="role" id="role">
                        <option value="user">User</option>
                        <option value="pu">Power User</option>
                        <option value="admin">Admin</option>
                    </select>
 <p>{{ project.project_id}}</p>
                </fieldset>
                </form>
            </div>

            <div id="dialog-form-add-existing-user" title="Add Existing user">
                <p class="validateTips">All form fields are required.</p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="name">Name</label>
                    <select name="name" id="name">
                        {% for ouser in ouserinfo %}
                            <option value="{{ouser}}">{{ouser}}</option>
                        {% endfor %}
                    </select>
                    <select name="role" id="role">
                        <option value="user">User</option>
                        <option value="pu">Power User</option>
                        <option value="admin">Admin</option>
                    </select>
                  
                </fieldset>
                </form>
            </div>

          <table class="paleblue" id="users">
                <tr> <th>User</th>  <th>Actions</th>  </tr>
                {% for pu in users %}
                  {% with pu.username as username %}
		    {% with userinfo|access:username as ui %}
			<tr id="{{username}}" {% if ui.user_enabled == "FALSE" %} class="user_disabled" {% endif %}>
			  <td id="{{username}}_info">
			    {% if ui.user_enabled == "FALSE" %}
			      <i class="icon-warning-sign"></i>
			    {% endif %}
			    <b>{{username}}
			    </b>   (<a href="mailto:{{ui.email}}">{{ui.email}}</a>) <span class="right">{{ui.user_role}}</span>

			  </td>

			  <td><a href="/projects/{{ project.project_name}}/user/{{pu.username}}/view/">view</a> | <a href="/delete_user/{{pu.username}}/{{ui.user_id}}/" data-confirm="This will completely erase {{pu.username}} from all projects. Are you sure?"> delete</a>| {% include "coal/toggle_user.html" %}    | <a href="/remove_user_from_project/{{ui.user_id}}/{{ project.project_id}}/">remove user from project</a> </td></tr>

                    {% endwith %}
                  {% endwith %}
                {% endfor %}
          </table>

        </div>
      </div>

      <!-- Begin Security Groups widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Security Groups
	     <a href="#"  id="create-security-group" class="btn btn-mini" style="float:right"><i class="icon-plus"></i> New Security Group</a>
          </div>

	    <div id="sec-group-dialog-form" title="Create new security group">
                <p class="validateTips">Preserve port defaults of 443,80,22 unless you know what you are doing.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="name">Ports</label>
                    <input type="text" name="ports" id="ports" value="443,80,22" class="text ui-widget-content ui-corner-all" />
                    <label for="groupname">Group Name</label>
                    <input type="text" name="groupname" id="groupname" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="groupdesc">Group Description</label>
                    <input type="text" name="groupdesc" id="groupdesc" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>


	    <table class="paleblue">
		{% if sec_groups %}
		  <tr> <th>Security Group</th>  <th>Owner</th> <th>Actions</th>  </tr>
		    {% for sg in sec_groups %}
		      <tr> <td>{{sg.sec_group_name}}</td>  <td>{{sg.username}}</td>  <td></td></tr>
		    {% endfor %}
		{% else %}
		
		<p><i>This project has no security groups</i></p>
		{% endif %}
	  </table>
        </div>
      </div>

    <!-- Begin Key Pairs widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Key Pairs
             <a href="#"  id="create-keypair" class="btn btn-mini" style="float:right"><i class="icon-plus"></i> New Key Pair</a>
 		
          </div>

	    <div id="keypair-dialog-form" title="Create new key pair">
 		<p class="validateTips">Enter a name for the key pair.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="name">Key Pair Name</label>
                    <input type="text" name="key_name" id="key_name"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>

          <table class="paleblue">
	    {% if sec_keys %}
                <tr> <th>Key Name</th> <th>Owner</th> <th>Actions</th></tr>
                    {% for key in sec_keys %}
		      <tr> <td>{{key.key_name}}</td>  <td>{{key.username}}</td> <td></td></tr>
		    {% endfor %}
		{% else %}
		  <p><i>This project has no keys</i></p>
		{% endif %}
          </table>

        </div>
      </div>

    </div>
    <!-- end row one-->

    <!-- begin row two -->
    <div class="row-fluid">

      <!-- Begin volume widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Volume Storage
		<a href="#"  id="create-volume" class="btn btn-mini" style="float:right"><i class="icon-plus"></i> New Volume</a>	
          </div>

	    <div id="volume-dialog-form" title="Create new volume">
 		<p class="validateTips">All fields except description are required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="volume_name">Volume Name</label>
                    <input type="text" name="volume_name" id="volume_name"  class="text ui-widget-content ui-corner-all" />
                    <label for="volume_size">Volume Size</label>
                    <input type="text" name="volume_size" id="volume_size"  class="text ui-widget-content ui-corner-all" />
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>

	

           <table class="paleblue">
	    {% if volumes %}
                <tr> <th>Volume</th> <th>Actions</th></tr>
                    {% for volume in volumes %}
		      <tr> <td>{{volume.vol_name}}</td>  <td><a href="/projects/{{ project.project_id}}/volumes/{{volume.vol_id}}/">view</a> </td></tr>
		    {% endfor %}
		{% else %}
		  <p><i>This project has no volumes</i></p>
		{% endif %}
          </table>
        </div>
      </div>

      <!-- Begin snapshots widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Snapshots
          </div>
          <table class="paleblue">
	    {% if snapshots %}
                <tr> <th>Snapshot</th> <th>Volume</th> <th>Actions</th></tr>
                    {% for snapshot in snapshots %}
		      <tr> <td>{{snapshot.snapshot_name}}</td>  <td>{{snapshot.vol_name}}</td>  <td></td></tr>
		    {% endfor %}
		{% else %}
		  <p><i>This project has no snapshots</i></p>
		{% endif %}
          </table>
        </div>
      </div>

      <!-- Begin Containers widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Object Containers
          </div>
          <p> Not yet implemented.</p>
        </div>
      </div>

    </div>
    <!-- end row two-->
    <!-- begin row three -->
    <div class="row-fluid">

     <!-- Begin Network widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             External Networks
          </div>
          {% if networks %}
	    <table class="paleblue">

                <tr> <th>Network</th>  <th>Network info</th>  <th>Actions</th></tr>

                {% for key,value in networks.items %}
		  {% if value.net_internal == 'false' %}
		    <tr> <td>{{key}}</td>  <td>shared: {{value.net_shared}} | admin state: {{value.net_admin_state}}</td>  <td><a href="/network/{{value.net_id}}/view/">view</a></td></tr>
		  {% endif %}

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no external networks</i></p>
	  {% endif %}

        </div>
      </div>

      <!-- Begin Routers widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Routers
          </div>
	  {% if routers %}
	    <table class="paleblue">

                <tr> <th>Router</th>  <th>Router Status</th>  </tr>

                {% for router in routers %}

		    <tr> <td>{{router}}</td>  <td></td>  </tr>

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no routers</i></p>
	  {% endif %}

         </div>
      </div>

    <!-- Begin Private Networks widget-->

      <div class="span4">
        <div class="well">
          <div class="legend">
             Private Networks
          <a href="#"  id="create-private-network" class="btn btn-mini" style="float:right"><i class="icon-plus"></i> Add Private Network</a>
 		
          </div>

	    <div id="private-network-dialog-form" title="Create new private network">
 		<p class="validateTips">All fields required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="name">Private Network Name</label>
                    <input type="text" name="net_name" id="net_name"  class="text ui-widget-content ui-corner-all" />

		    <label for="admin_state">Admin State?</label>
                    <select name="admin_state" id="admin_state">
                        <option value="---">---</option>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
		    <label for="shared">Shared?</label>
                    <select name="shared" id="shared">
                        <option value="---">---</option>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </fieldset>
                </form>
            </div>
          {% if networks %}
	    <table class="paleblue">

                <tr> <th>Network</th>  <th>Network info</th> <th>Actions</th> </tr>

                {% for key,value in networks.items %}
		  {% if value.net_internal == 'true' %}
		   <tr> <td>{{key}}</td>  <td>shared: {{value.net_shared}} | admin state: {{value.net_admin_state}} </td>  <td><a href="/network/{{value.net_id}}/view/">view</a></td></tr>
		  {% endif %}

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no private networks</i></p>
	  {% endif %}
        </div>
      </div>

    </div>
    <!-- end row three-->
    <!-- begin row four -->
    <div class="row-fluid">

     <!-- Begin instance widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Instances
          </div>
	  {% if instances %}
	    <table class="paleblue">

                <tr> <th>Instance</th>  <th></th>  </tr>

                {% for instance in instances %}

		    <tr> <td>{{instance}}</td>  <td></td>  </tr>

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no instances</i></p>
	  {% endif %}
        </div>
      </div>

      <!-- Begin Floating IP widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Floating IP's
          </div>
          <p> Not yet implemented.</p>
        </div>
      </div>

      <!-- Begin image widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Images
          </div>
          {% if images %}
	    <table class="paleblue">

                <tr> <th>Image</th>  <th></th>  </tr>

                {% for image in images %}

		    <tr> <td>{{image}}</td>  <td></td>  </tr>

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no images.</i></p>
	  {% endif %}
        </div>
      </div>

    </div>
    <!-- end row four-->







{% endblock %}
