{% extends "coal/base-fluid.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/external/c3.min.css">
{% endblock %}

{% block title %}Project View{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-sm-2 sidebar">
            <ul class="nav nav-sidebar navbar-default nav-pills nav-stacked">
                <li><a href="#" id="project">Project Details</a></li>
                <li><a href="#" id="instances">Instances</a></li>
                <li><a href="#" id="storage">Storage</a></li>
                <li><a href="#" id="networking">Networking</a></li>
                <li><a href="#" id="users-security">Users/Security</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="page-header">
                <h3>{{ project.project_name }}</h3>

                <div class="btn-group actions-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="instance-wizard">Instance Wizard</a></li>
                        <li class="bg-danger">
                            <a href="#" id="delete-project" data-title="Delete Project"
                               data-message="Delete {{ project.project_name }}?"
                               data-call="/projects/{{ project.project_id }}/{{ project.project_name }}/delete/"
                               data-notice="Deleting Project {{ project.project_name }}" data-async="deleteTimer">
                                Delete Project
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="page-content" class="col-sm-12 main"></div>
        </div>
        <div class="col-md-10 main" style="position:fixed; bottom: 100%;">
            <div id="project-container"></div>
            <div id="instances-container"></div>
            <div id="storage-container"></div>
            <div id="networking-container"></div>
            <div id="users-security-container"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ STATIC_URL }}javascripts/external/d3.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/external/c3.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/charts.js"></script>
    <script src="{{ STATIC_URL }}javascripts/utilities.js"></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/project.js"></script>
    <script>
        var CURRENT_PROJECT = "{{ project.project_name }}",
                CURRENT_PROJECT_ID = "{{ project.project_id }}",
                DEFAULT_PUBLIC = "{{ default_public }}";
    </script>
{% endblock %}