{% extends "coal/base-fluid.html" %}

{% block title %} Details for {{router.router_name}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <div class="well">
            <div class="legend">
                Router Details

                {% if user_level == 0 %}
                <a href="{{ default_public }}/projects/{{router.project_id}}/view/" class="btn" style="float: right;">Return
                    To Project</a>
                {% elif user_level == 1 %}
                <a href="{{ default_public }}/projects/{{router.project_id}}/pu_project_view/" class="btn"
                   style="float: right;">Return To Project</a>
                {% else %}
                <a href="{{ default_public }}/projects/{{router.project_id}}/basic_project_view/" class="btn"
                   style="float: right;">Return To Project</a>
                {% endif %}
            </div>

            <table class="paleblue widget-table">
                <tr>
                    <th>Name</th>
                    <td>{{router.router_name}}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{router.router_id}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{router.router_status}}</td>
                </tr>
                <tr>
                    <th>Network Id</th>
                    <td>{{router.network_id}}</td>
                </tr>
                <tr>
                    <th>External Gateway</th>
                    <td>{{router.external_gateway}}</td>
                </tr>
                <tr>
                    <th>External IP</th>
                    <td>{{router.external_ip}}</td>
                </tr>
                <tr>
                    <th>Admin State Up</th>
                    <td>{{router.admin_state_up}}</td>
                </tr>
                <tr>
                    <th>Project Id</th>
                    <td>{{router.project_id}}</td>
                </tr>
            </table>
        </div>
    </div> <!-- end span5-->
</div><!-- end row-fluid-->

{% endblock %}
