{% extends "coal/base-fluid.html" %}

{% block javascripts %}

<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css">

<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
<script src="{{ STATIC_URL }}javascripts/utility-functions.js"></script>
<script src="{{ STATIC_URL }}javascripts/security_group_view/update-security-group.js"></script>

<script>
    var PROJECT_ID = "{{sec_group.project_id}}";
    var GROUP_ID = "{{sec_group.sec_group_id}}";
</script>

<script>var portCount = 0;</script>
{% for port in sec_group.ports %}
<script>
    secGroupPorts[portCount] = { from_port: "{{port.from_port}}", to_port: "{{port.to_port}}", transport: "{{port.transport}}" };
    portCount++;
</script>
{% endfor %}

<script>
    getSecGroupPorts();
    updateTcpString();
    updateUdpString();
    updateIcmpString();
</script>

{% endblock %}

{% block title %} Details for {{sec_group.sec_group_name}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span8 offset1">
        <div class="row-fluid">
            <div class="well">
                <div class="legend">
                    Security Group Details

                    {% if user_level == 0 %}
                    <a href="{{ default_public }}/projects/{{sec_group.project_id}}/view/" class="btn"
                       style="float: right;">Return
                        To Project</a>
                    {% elif user_level == 1 %}
                    <a href="{{ default_public }}/projects/{{sec_group.project_id}}/pu_project_view/" class="btn"
                       style="float: right;">Return To Project</a>
                    {% else %}
                    <a href="{{ default_public }}/projects/{{sec_group.project_id}}/basic_project_view/" class="btn"
                       style="float: right;">Return To Project</a>
                    {% endif %}
                </div>

                <table class="paleblue widget-table">
                    <tr>
                        <th>Name</th>
                        <td>{{sec_group.sec_group_name}}</td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td>{{sec_group.sec_group_id}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{sec_group.sec_group_desc}}</td>
                    </tr>
                    <tr>
                        <th>TCP Ports</th>
                        <td id="tcp_ports">
                            <script>
                                $("#tcp_ports").html(tcpString);
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th>UDP Ports</th>
                        <td id="udp_ports">
                            <script>
                                $("#udp_ports").html(udpString);
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th>ICMP</th>
                        <td id="icmp">
                            <script>
                                $("#icmp").html(icmp);
                            </script>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <!-- end inner row -->

        <div class="row-fluid">
            <div id="widget-actions" class="well top">
                <div class="legend">
                    Actions
                </div>

                <div class="center-buttons">
                    <a href="#" id="update-secGroup" class="btn">Update</a>
                </div>
            </div>
        </div>
        <!-- end inner row -->

        <div id="secGroup_progressbar" class="ui-progressbar"
             style="height: 1em; margin: 10px 0 0 0; padding: .2em; display: none;"></div>
    </div>
    <!-- end span8-->

    <div id="update-security-group" title="Update Security Group">
        <p class="validateTips">Default transport protocol is TCP. Port defaults are 443,80,22 (changing ports is
            only recommended for advanced users.) Enable Ping defaults to true.</p>

        <form>
            {% csrf_token %}
            <fieldset>
                <label>Transport Protocol</label>
                <label>
                    TCP:
                    <input type="radio" name="update_transport" id="update_tcp" value='tcp' checked>
                </label>
                <label>
                    UDP:
                    <input type="radio" name="update_transport" id="update_udp" value='udp'>
                </label>
                <label for="update_ports">Ports</label>
                <input type="text" name="ports" id="update_ports" class="text ui-widget-content ui-corner-all"/>
                <label>Enable Ping</label>
                <label>
                    true:
                    <input type="radio" name="enable_ping" id="true" value='true' checked>
                </label>
                <label>
                    false:
                    <input type="radio" name="enable_ping" id="false" value='false'>
                </label>
            </fieldset>
        </form>
    </div>
</div><!-- end row-fluid-->

{% endblock %}
