{% extends "coal/base-fluid.html" %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/third-party-storage.css">

    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
    <script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
    <script src="{{ STATIC_URL }}javascripts/utility-functions.js"></script>
    <script src="{{ STATIC_URL }}javascripts/update-admin-password.js"></script>
    <script src="{{ STATIC_URL }}javascripts/third-party-storage.js"></script>
    <script src="{{ STATIC_URL }}javascripts/d3.js"></script>
    <script src="{{ STATIC_URL }}javascripts/d3_charts/gauge.js"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

    <div class="span10 offset1">
        <div class="well no-padding">
            <div class="legend-header">
                Admin Panel

                <a href="#" id="config-third-party-storage" class="btn" style="float:right">Configure 3PS</a>
                <a href="#" id="update-admin-password" class="btn" style="float:right">Update Password</a>
            </div>

            <div class="well">
                <div class="legend">
                    Cloud Stats
                </div>
                <table class="paleblue widget-table-third" style="display: inline-table; float: left;">
                    <tr>
                        <th>Nodes</th>
                        <th>Projects</th>
                        <th>Users</th>
                    </tr>
                    <tr>
                        <td>{{ tot_nodes }}</td>
                        <td>{{ tot_proj }}</td>
                        <td>{{ tot_users }}</td>
                    </tr>
                </table>

                <div id="graph-container"
                     style="display:inline-table; width: 59%; margin: 10px; border: 1px solid #696969">
                    <h6 id="graph-title" style="margin: 10px 10px;">E-Series Storage (gb)</h6>

                    <div id="graph">
                        <style>

                            #graph {
                                font: 10px sans-serif;
                            }

                            .arc path {
                                stroke: #fff;
                            }

                        </style>
                    </div>
                </div>
            </div>

            <div class="well" id="widget-actions" style="display: inline-block; margin-right: 5px" >
                <div class="legend">
                    Total Instance Meters
                </div>
                <div style="text-align: center">
                    <body onload="initialize()" style="font: 10px arial">
                        <span id="vcpusGaugeContainer"></span>
                        <span id="memoryGaugeContainer"></span>
                        <span id="diskrootsizeGaugeContainer"></span>
                    </body>
                </div>

            </div>

            <div class="well" id="widget-actions" style="display: inline-block; margin-left: 5px">
                <div class="legend">
                    Cloud Meters
                </div>
                <div style="text-align: center;">
                    <body onload="initialize()" style="font: 10px arial">
                        <span id="cpupercentGaugeContainer"></span>
                        <span id="cpuuserpercentGaugeContainer"></span>
                        <span id="cpuidlepercentGaugeContainer"></span>
                        <span id="cpuiowaitpercentGaugeContainer"></span>
                        <span id="cpukernelpercentGaugeContainer"></span>
                    </body>
                </div>
            </div>

            <div class="well well-wide">
                <div class="legend">
                    Node Stats
                </div>

                {% for node in full_stats %}
                    <table class="paleblue widget-table table-wide" style="margin-bottom: 3em">
                        <tr>
                            <th>Node Name</th>
                            <th>Type</th>
                            <th>CPU Usage</th>
                            <th>Memory Usage</th>
                            <th>Swap Usage</th>
                        </tr>
                        <tr>
                            <td>{{ node.name }}</td>
                            <td>{{ node.type }}</td>
                            <td>{{ node.cpu_system }}%</td>
                            <td>{{ node.mem_used_percent }}%</td>
                            <td>{{ node.swap_used_percent }}%</td>
                        </tr>
                    </table>
                    <div class="legend sub-legend">
                        Disk Stats for {{ node.name }}
                    </div>
                    <table class="paleblue widget-table table-wide">
                        <tr>
                            <th>Disk Name</th>
                            <th>Total Space</th>
                            <th>Disk Usage</th>
                        </tr>
                        {% for disk in node.disks %}
                            <tr>
                                <td>{{ disk.name }}</td>
                                <td>{{ disk.total_space }}MB</td>
                                <td>{{ disk.space_usage_mb }}MB / {{ disk.space_usage_precent }}%</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
            <!-- end span6-->

            <div class="well well-wide">
                <div class="legend">
                    Project Stats
                </div>
                <table class="paleblue widget-table table-wide">
                    <tr>
                        <th>Project Name</th>
                        <th>Instances</th>
                        <th>Floating IPs</th>
                        <th>Volumes</th>
                        <th>Containers</th>
                        <th>Routers</th>
                        <th>Internal Networks</th>
                        <th>Users</th>
                    </tr>
                    {% for tenant in tenant_info %}
                        {% if tenant.project_name != "trans_default" %}
                            <tr>
                                <td>{{ tenant.project_name }}</td>
                                <td>{{ tenant.num_servers }}</td>
                                <td>{{ tenant.num_fips }}</td>
                                <td>{{ tenant.num_vol }}</td>
                                <td>{{ tenant.num_cont }}</td>
                                <td>{{ tenant.num_rout }}</td>
                                <td>{{ tenant.num_net }}</td>
                                <td>{{ tenant.num_users }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- end span6-->
    </div>

    <div id="dialog-form-update-password" title="Update Password">
        <p class="validateTips">All form fields are required.</p>

        <form>
            {% csrf_token %}
            <fieldset>
                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" value=""
                       class="text ui-widget-content ui-corner-all"/>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2" value=""
                       class="text ui-widget-content ui-corner-all"/>
            </fieldset>
        </form>
    </div>

    <div id="tps-config-form" title="Configure Third Party Storage">

        <fieldset id="tps-form">

            <legend id="tps-form-legend">
                Third Party Storage
            </legend>

            {% csrf_token %}

            <div class="ajax-loader" id="tps-loader-1" style="display:none"></div>
            <div id="tps-table-container"></div>

            <fieldset id="license-confirm" style="display:none;">
                <label>
                    License Key:
                    <input id="license-num" type="text">
                </label>
                <button class="configure-tps block-center" id="license-apply">Apply License</button>
            </fieldset>

            <fieldset id="eseries-config-data" style="display: none;">

                <label>Use exiting E-Series Web Proxy Server?</label>

                <div class="block-center">
                    <label class="normal">
                        Yes:
                        <input name="eseries-use-existing" id="yes" value="1" checked="" type="radio">
                    </label>
                    <label class="normal">
                        No (under construction):
                        <input name="eseries-use-existing" id="no" value="0" disabled="disabled" type="radio">
                    </label>
                </div>

                <label for="eseries-hostname-ip">Hostname/IP:</label>
                <input name="eseries-hostname-ip" id="eseries-hostname-ip" value=""
                       class="text ui-widget-content ui-corner-all"
                       type="text">

                <label for="eseries-login">Login:</label>
                <input name="eseries-login" id="eseries-login" value="" class="text ui-widget-content ui-corner-all"
                       type="text">

                <label for="eseries-password">Password:</label>
                <input name="eseries-password" id="eseries-password" value=""
                       class="text ui-widget-content ui-corner-all"
                       type="password">

                <label>Transport:</label>
                <label class="normal">
                    HTTP:
                    <input name="eseries-transport" id="http" value="http" checked="" type="radio">
                </label>
                <label class="normal">
                    HTTPS:
                    <input name="eseries-transport" id="https" value="https" type="radio">
                </label>

                <label for="eseries-server-port">Server Port:</label>
                <input name="eseries-server-port" id="eseries-server-port" value="8080"
                       class="text ui-widget-content ui-corner-all" type="text">

                <label for="eseries-storage-controller-password">Storage Controller
                    Password:</label>
                <input name="eseries-storage-controller-password" id="eseries-storage-controller-password" value=""
                       class="text ui-widget-content ui-corner-all" type="password">

                <a class="eseries-button block-center" href="#" id="eseries-discover-controllers">Discover
                    Controllers</a>

                <div class="ajax-loader" id="tps-loader-2" style="display: none"></div>
            </fieldset>

            <fieldset id="eseries-storage-controller-data" style="display:none;">
                <label for="eseries-mgmt-hostnames-ips">Management Hostnames / IPs</label>
                <select name="eseries-mgmt-hostnames-ips" id="eseries-mgmt-hostnames-ips" multiple size="0"></select>

                <a class="eseries-button block-center" href="#" id="eseries-discover-disk-pools">Discover Disk Pools</a>

                <div class="ajax-loader" id="tps-loader-3" style="display:none"></div>
            </fieldset>

            <fieldset id="eseries-disk-pools" style="display:none;">
                <label for="eseries-storage-disk-pools"></label>
                <select name="eseries-storage-disk-pools" id="eseries-storage-disk-pools" multiple size="0"></select>
                <button class="configure-tps block-center" id="eseries-button" data-provider="eseries">Configure E-Series Storage</button>
            </fieldset>

            <fieldset id="nfs-config-data" style="display: none;">
                <label for="nfs-mountpoint">NFS Mountpoint</label>
                <input name="nfs-mountpoint" id="nfs-mountpoint" value="" class="text ui-widget-content ui-corner-all"
                       type="text">
                <button id="add-mountpoint">+</button>
                <div id="mountpoints"></div>
                <button class="configure-tps block-center" id="nfs-button" data-provider="nfs" style="margin-top: 10px;">Configure NFS</button>
            </fieldset>

            <fieldset id="nimble-config-data" style="display: none;">
                <label for="nimble-hostname-ip">Hostname/IP:</label>
                <input name="nimble-hostname-ip" id="nimble-hostname-ip" value=""
                       class="text ui-widget-content ui-corner-all"
                       type="text">

                <div id="nlogin"></div>
                <label for="nimble-login">Login:</label>
                <input name="nimble-login" id="nimble-login" value="" class="text ui-widget-content ui-corner-all"
                       type="text">

                <div id="npwd"></div>
                <label for="nimble-password">Password:</label>
                <input name="nimble-password" id="nimble-password" value=""
                       class="text ui-widget-content ui-corner-all"
                       type="password">

                <button class="configure-tps block-center" id="nimble-button" data-provider="nimble">Configure Nimble Storage</button>
            </fieldset>
        </fieldset>
    </div><!-- end row-fluid-->

    <script>
        var gauges = [];

        function createGauge(name, label, meterType, calcType, min, max, minorTicks)
        {
            var config =
            {
                size: 120,
                label: label,
                meterType: meterType,
                calcType: calcType,
                min: undefined != min ? min : 0,
                max: undefined != max ? max : 1000,
                minorTicks: minorTicks
            }

            var range = config.max - config.min;
            config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];
            config.redZones = [{ from: config.min + range*0.9, to: config.max }];

            gauges[name] = new Gauge(name + "GaugeContainer", config);
            gauges[name].render();
        }

        function createGauges()
        {
            createGauge("vcpus", "vCPU Count", "vcpus", "sum", 0, 64, 16);
            createGauge("memory", "RAM Alloc MB", "memory", "sum", 0, 16384, 26.2);
            createGauge("diskrootsize", "Disk Alloc GB", "disk.root.size", "sum", 0, 1000, 8);
            createGauge("cpupercent", "Avg CPU  %", "compute.node.cpu.percent", "avg", 0, 100, 5);
            createGauge("cpuuserpercent", "Avg CPU User %", "compute.node.cpu.user.percent", "avg", 0, 100, 5);
            createGauge("cpuidlepercent", "Avg CPU Idle %", "compute.node.cpu.idle.percent", "avg", 0, 100, 5);
            createGauge("cpuiowaitpercent", "Avg CPU I/O Wait %", "compute.node.cpu.iowait.percent", "avg", 0, 100, 5);
            createGauge("cpukernelpercent", "Avg CPU Kernel %", "compute.node.cpu.kernel.percent", "avg", 0, 100, 5);
        }

        function updateGauges()
        {
            for (var key in gauges)
            {
                getCeilometerResults(gauges[key], gauges[key].config.meterType, gauges[key].config.calcType)
            }
        }

        function getCeilometerResults(guage, meterType, calcType)
        {
            var endDate = new Date();
            var startDate = new Date(endDate);
            var durationInMinutes = 60;
            startDate.setMinutes(endDate.getMinutes() - durationInMinutes);
            var startTimeString = startDate.getFullYear() + "-" + (startDate.getMonth() + 1 )+ "-" + startDate.getDate() + "T" + ("0" + startDate.getHours()).slice(-2) + "%3A" + ("0" + startDate.getMinutes()).slice(-2);
            var endTimeString = endDate.getFullYear() + "-" + (endDate.getMonth() + 1) + "-" + endDate.getDate() + "T" + ("0" + endDate.getHours()).slice(-2) + "%3A" + ("0" + endDate.getMinutes()).slice(-2);
            url = "ceilometer/get/statistics/" + startTimeString + "/" + endTimeString + "/" + meterType + "/"

            return $.getJSON(url).done(function(data) {
                if (data.status == "success")
                {
                    if (data.message != "empty dataset")
                    {
                        var result = data.statistics[0][calcType];
                        guage.redraw(result);
                    }
                }
                else
                {
                    if (got_data)
                        message.showMessage('error', data.message);
                    got_data = false;
                }
            });
        }

        var got_data = true;
        function initialize()
        {
            createGauges();
            {#5000 = 5 seconds#}
            setInterval(updateGauges, 5000);
        }

    </script>

{% endblock %}
