{% extends "coal/base-fluid.html" %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css">

<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
<script src="{{ STATIC_URL }}javascripts/utility-functions.js"></script>
<script src="{{ STATIC_URL }}javascripts/update-admin-password.js"></script>

{% endblock %}

{% block title %}  {% endblock %}

{% block content %}

<div class="span8 offset2">
    <div class="well no-padding">
        <div class="legend-header">
            Admin Panel

            <a href="#" id="update-admin-password" class="btn" style="float:right">Update Password</a>
        </div>

        <div class="well">
            <div class="legend">
                Cloud Stats
            </div>
            <table class="paleblue widget-table-half">
                <tr>
                    <th>Nodes</th>
                    <th>Projects</th>
                    <th>Users</th>
                </tr>
                <tr>
                    <td>{{ tot_nodes }}</td>
                    <td>{{ tot_proj }}</td>
                    <td>{{ tot_users }}</td>
                </tr>
            </table>
        </div>

        <div class="well">
            <div class="legend">
                Node Stats
            </div>

            {% for node in full_stats %}
            <table class="paleblue widget-table" style="margin-bottom: 3em">
                <tr>
                    <th>Node Name</th>
                    <th>Type</th>
                    <th>CPU Usage</th>
                    <th>Memory Usage</th>
                    <th>Swap Usage</th>
                </tr>
                <tr>
                    <td>{{ node.name }}</td>
                    <td>{{ node.type }}</td>
                    <td>{{ node.cpu_system }}%</td>
                    <td>{{ node.mem_used_percent }}%</td>
                    <td>{{ node.swap_used_percent }}%</td>
                </tr>
            </table>
            <div class="legend sub-legend">
                Disk Stats for {{ node.name }}
            </div>
            <table class="paleblue widget-table">
                <tr>
                    <th>Disk Name</th>
                    <th>Total Space</th>
                    <th>Disk Usage</th>
                </tr>
                {% for disk in node.disks %}
                <tr>
                    <td>{{ disk.name }}</td>
                    <td>{{ disk.total_space }}MB</td>
                    <td>{{ disk.space_usage_mb }}MB / {{ disk.space_usage_precent }}%</td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
        <!-- end span6-->

        <div class="well">
            <div class="legend">
                Project Stats
            </div>
            <table class="paleblue widget-table">
                <tr>
                    <th>Project Name</th>
                    <th>Instances</th>
                    <th>Floating IPs</th>
                    <th>Volumes</th>
                    <th>Containers</th>
                    <th>Routers</th>
                    <th>Internal Networks</th>
                    <th>Users</th>
                </tr>
                {% for tenant in tenant_info %}
                {% if tenant.project_name != "trans_default"%}
                <tr>
                    <td>{{ tenant.project_name }}</td>
                    <td>{{ tenant.num_servers }}</td>
                    <td>{{ tenant.num_fips }}</td>
                    <td>{{ tenant.num_vol }}</td>
                    <td>{{ tenant.num_cont }}</td>
                    <td>{{ tenant.num_rout }}</td>
                    <td>{{ tenant.num_net }}</td>
                    <td>{{ tenant.num_users }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- end span6-->
</div>

    <div id="dialog-form-update-password" title="Update Password">
        <p class="validateTips">All form fields are required.</p>

        <form>
            {% csrf_token %}
            <fieldset>
                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" value=""
                       class="text ui-widget-content ui-corner-all"/>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2" value=""
                       class="text ui-widget-content ui-corner-all"/>
            </fieldset>
        </form>
    </div>

</div><!-- end row-fluid-->


{% endblock %}
