{% extends "coal/base-fluid.html" %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
<script src="{{ STATIC_URL }}javascripts/update_user_password.js"></script>
<script src="{{ STATIC_URL }}javascripts/jquery.toastmessage.js"></script>
<script src="{{ STATIC_URL }}javascripts/message-handle.js"></script>
<script src="{{ STATIC_URL }}javascripts/utility-functions.js"></script>
<script>
var PROJECT = "{{ project_name}}";
        </script>
<script>
    var PROJECT_ID = "{{ current_project_id}}";
</script>
<script>
    var USER_ID = "{{ user_info.user_id }}";
</script>

{% endblock %}

{% block title %} Details for {{user_info.username}}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <div class="row-fluid">
            <div id="user-details" class="well">
                <div class="legend">
                    User Details

                    {% if user_level == 0 %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/view/" class="btn"
                       style="float: right;">Return To Project</a>
                    {% elif user_level == 1 %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/pu_project_view/"
                       class="btn"
                       style="float: right;">Return To Project</a>
                    {% else %}
                    <a href="{{ default_public }}/projects/{{current_project_id}}/basic_project_view/"
                       class="btn" style="float: right;">Return To Project</a>
                    {% endif %}
                </div>
                <table class="paleblue widget-table">
                    <tr>
                        <th>Name</th>
                        <td id="username">{{user_info.username}}</td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td id="user-id">{{user_info.user_id}}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td id="user-role">{{user_info.user_role}}</td>
                    </tr>
                    <tr>
                        <th>Enabled</th>
                        <td id="user-enabled">{{user_info.user_enabled}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td id="user-email"><a href="mailto:{{user_info.email}}">{{user_info.email}}</a></td>
                    </tr>
                    <tr>
                        <th>Project Id</th>
                        <td id="user-project">{{user_info.project_id}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div id="widget-actions" class="well top">
                <div class="legend">
                    Actions
                </div>

                <div class="center-buttons">
                    <a href="#" id="update-user-password" class="btn">Update Password</a>
                </div>
            </div>
        </div>
        <!-- end inner row -->

        <div id="user-progressbar" class="ui-progressbar"
             style="height: 1em; margin: .3em; padding: .2em; display: none;"></div>

    </div>
    <!-- end span5-->

    <div id="dialog-form-update-password" title="Update Password">
        <p class="validateTips">All form fields are required.</p>

        <form>
            {% csrf_token %}
            <fieldset>
                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" value=""
                       class="text ui-widget-content ui-corner-all"/>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2" value=""
                       class="text ui-widget-content ui-corner-all"/>
            </fieldset>
        </form>
    </div>
</div>
<!-- end row-fluid-->

{% endblock %}
