{% extends "coal/base-fluid.html" %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
    <script src="{{ STATIC_URL }}javascripts/project_view/snapshot-dialog-form.js"/></script>
    <script>
      var PROJECT_ID = "{{project_id}}";
    </script>
    <script>
      var VOL_ID = "{{volume_info.volume_id}}";
    </script>

{% endblock %}

{% block title %} Details for {{volume_info.volume_name}}{% endblock %}

{% block content %}

    <div class="row-fluid">
      <div class="span6">
        <div class="well">
          <div class="legend">
              Details for {{volume_info.volume_name}}
          </div>
          <div class="row-fluid">
            <div class="span7">
            <table class="paleblue">
                <tr><th>Id</th><td>{{volume_info.volume_id}}</td></tr>
                <tr><th>Name</th><td>{{volume_info.volume_name}}</td></tr>
                <tr><th>Volume Size</th><td>{{volume_info.volume_size}}</td></tr>
                <tr><th>Volume Attached</th><td>{{volume_info.volume_attached}}</td></tr>
                <tr><th>Volume Instance</th><td>{{volume_info.volume_instance}}</td></tr>
                <tr><th>Project Id</th><td>{{project_id}}</td></tr>       
            </table>
          </div>
          <div class="span4 offset1">
            <b>Actions</b>
            <ul>
                <li><a href="/delete_volume/{{volume_info.volume_id}}/{{my_project_id}}/" data-confirm="This will completely remove {{volume.volume_name}} from this project. Are you sure?">delete</a></li>
            </ul>    
          </div>
         </div> 
        </div>
      </div><!-- end span6-->
      <div class="span5 offset1">

	<div id="snapshot-dialog-form" title="Take Snapshot">
 		<p class="validateTips">All fields are required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="snap_name">Snapshot Name</label>
                    <input type="text" name="snap_name" id="snap_name"  class="text ui-widget-content ui-corner-all" />
                    <label for="snap_desc">Description</label>
                    <input type="text" name="snap_desc" id="snap_desc"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>

	<a href="#" id="take-snapshot"><img src="{{ STATIC_URL }}images/camera_icon.jpg">Take snaphots not yet implemented.</a>

	<table class="paleblue">
	    {% if snapshots %}
                <tr> <th>snapshots</th> <th></th> <th></th></tr>
                    {% for snapshot in snapshots %}
			{% if snapshot.volume_id == volume_info.volume_id %}
		      	    <tr> <td>{{snapshot}}</td>  <td></td>  <td></td></tr>
			{% endif %}
		    {% endfor %}
		{% else %}
		  <p><i>This volume has no snapshots</i></p>
		{% endif %}
          </table>
      </div>

    </div><!-- end row-fluid-->


{% endblock %}
