{% extends "coal/base-fluid.html" %}

{% block title %} Coalesce {% endblock %}

{% block content %}

    <div class="span7 offset3">

        {% if user.is_authenticated %}

            <img border="0" src="{{ STATIC_URL }}images/coalesce.png"
                                        alt="coalesce" width="200" height="203">
            <br><br>
            <p>Welcome, {{ user.username }} to the Coalesce cloud management interface by TransCirrus.</p>

            <p>You can manage your account by <a href={% url 'logout' %}>logging out</a> or
            <a href={% url 'change-password' %}>changing your password</a>;</p>



            <p> Please take the time to review the Terms of Use and the Privacy Policy.</p>
        {% else %}
            <p>Welcome to the Coalesce cloud management interface by TransCirrus.<p>
            <p>You are not currenly logged in, please
            <a href={% url 'login' %}>log in</a>.  If you don't have or have forgotten your logon credentials, please contact your
            Transcirrus Cloud Administrator to gain access to this site.</p>
        {% endif %}

    </div>


{% endblock %}