{% extends "coal/base-fluid.html" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="welcome-title">
        TRANSCIRRUS CLOUD MANAGEMENT INTERFACE
    </div>

    <div class="welcome-container">
        <div class="token-container">
            {% if token %}
                Welcome to the <span class="trans">trans</span><span class="cirrus">cirrus</span> cloud management
                interface
                <p style="text-align: center;">You can manage your account by going to your
                    {% if user_level == 0 %}
                        <a href={% url 'home' %}>admin panel</a>.
                    {% else %}
                        <a href={% url 'home' %}>user panel</a>.
                    {% endif %}
                </p>
                <p style="text-align: center;">
                    {% if user_level == 0 %}
                        To manage projects in your cloud, follow the <a href="/cloud/manage">Cloud Management</a> link.
                    {% else %}
                        {% if user_level == 1 %}
                            To manage your project, follow the
                            <a href="/projects/{{ project_id }}/pu_project_view/">My Project</a> link.
                        {% else %}
                            To manage your project, follow the
                            <a href="/projects/{{ project_id }}/basic_project_view/">My Project</a> link.
                        {% endif %}
                    {% endif %}
                </p>
                <p style="text-align: center;">
                    {% if user_level == 0 %}
                        For technical support, please go to our
                        <a href="http://www.transcirrus.com/support.html">support page</a>.
                    {% else %}
                        If you need help with your project, contact your project's admin:
                        <a href="mailto:{{ project_admin.admin_email }}">{{ project_admin.admin_name }}</a>
                    {% endif %}
                </p>
            {% else %}
                <div class="login-container">
                    <form id="login-form" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend>Log In</legend>
                            <p>
                                By using this website, the user ("<b>user</b>" or "<b>you</b>") agree to the <a
                                    href="/terms-of-use">Terms of Use</a>.
                                If you do not agree to these terms of use, you should exit the website. By entering
                                logon
                                information and accessing the website contents, you are stating full acceptance of the
                                terms.
                            </p>
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username"/>
                            <label for="password">Username</label>
                            <input type="password" name="password" id="password"/>
                            <button class="btn" id="log-in">Log In</button>
                            <script>
                                $(function () {
                                    var form = $('#login-form');
                                    form.submit(function () {
                                        $("#log-in").prop("disabled", true);
                                        $.ajax({
                                            type: form.attr('method'),
                                            url: "/login/",
                                            data: form.serialize(),
                                            success: function (data) {
                                                data = $.parseJSON(data);
                                                console.log(data);
                                                if (data.status == "success") {
                                                    console.log(data.user_level);
                                                    if (data.user_level == 0) {
                                                        if (data.first_time == "TRUE") {
                                                            location.reload()
                                                        } else {
                                                            location.replace("/cloud/manage/");
                                                        }
                                                    } else {
                                                        console.log(data.user_level);
                                                        if (data.user_level == 1) {
                                                            console.log("/projects/" + data.project_id + "/pu_project_view/");
                                                            location.replace("/projects/" + data.project_id + "/pu_project_view/");
                                                        } else {
                                                            console.log("/projects/" + data.project_id + "/basic_project_view/");
                                                            location.replace("/projects/" + data.project_id + "/basic_project_view/");
                                                        }
                                                    }
                                                    if (data.status == "error") {
                                                        message.showMessage('error', data.message);
                                                        $("#log-in").prop("disabled", false);
                                                    }
                                                }
                                            },
                                            error: function () {
                                                message.showMessage('error', "Server Fault");
                                                $("#log-in").prop("disabled", false);
                                            }
                                        });
                                        return false;
                                    });
                                })
                            </script>
                        </fieldset>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="twitter-container">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TransCirrus_UI"
               data-widget-id="611965173478334464" data-chrome="nofooter noscrollbar" height="300">Tweets by
                @TransCirrus_UI</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
        </div>
    </div>

    <div class="learn-more">
        <ul>
            <li>
                <span>Website: </span><a href="http://www.transcirrus.com"><img
                    src="{{ STATIC_URL }}images/transcirrus-icon.png"
                    style="width: 32px; height: 32px; background-color: #FFFFFF;"></a>
            </li>

            <li>
                <span>Email: </span><a href="mailto:info@transcirrus.com"><img
                    src="{{ STATIC_URL }}images/email-icon.png"
                    style="width: 32px; height: 32px; background-color: #FF6F0F"></a>
            </li>

            <li>
                <span>Facebook: </span><a href="https://www.facebook.com/transcirrus"><img
                    src="{{ STATIC_URL }}images/facebook-32.png" style="background-color: #3B5998"></a>
            </li>

            <li>
                <span>Twitter: </span><a href="https://www.twitter.com/transcirrus"><img
                    src="{{ STATIC_URL }}images/twitter-32.png" style="background-color: #00ACED"></a>
            </li>

            <li>
                <span>LinkedIn: </span><a href="https://www.linkedin.com/company/transcirrus"><img
                    src="{{ STATIC_URL }}images/linkedin-32.png" style="background-color: #007FB1"></a>
            </li>
        </ul>
    </div>
{% endblock %}