{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title " id="modal-label">Create Security Key</h4>
</div>

<div class="modal-body bg-default-light">
    <div class="container-fluid">
        <div class="row-fluid">
            <form id="key-form" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    <label for="key-name" class="col-sm-4 control-label">Name:</label>
                    <input type="text" name="keyName" id="key-name" placeholder="Security Key Name" class="col-sm-8">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-loading-text="Close">Close</button>
    <button type="submit" form="key-form" class="btn btn-primary" data-loading-text="Loading ..." disabled>
        Confirm
    </button>
</div>

<script>
    $(function () {
        var buttons = $(this).parent().parent().find('button'),
                page = $("#page-content"),
                usersSecurity = $("#users-security-container");
        $("#key-form").validate({
            rules: {
                keyName: {
                    required: true,
                    charField: true,
                    minlength: standardStringMin,
                    maxlength: standardStringMax
                }
            },
            submitHandler: function () {
                setModalButtons(false, buttons);
                showMessage('info', "Creating new Security Key");

                $.getJSON('/create_sec_keys/' + $("#key-name").val() + '/' + CURRENT_PROJECT_ID + '/')
                        .done(function (data) {
                            if (data.status == 'error') {
                                showMessage('error', data.message);
                            }
                            if (data.status == 'success') {
                                showMessage('success', "Created Security Key " + data.key_name + ".");
                                closeModal();
                                refreshContainer(page, usersSecurity, "/projects/" + CURRENT_PROJECT_ID + "/get_users_security_panel/");
                            }
                        })
                        .fail(function () {
                            showMessage('error', 'Server Fault');	// Flag server fault message
                        });
            }
        });

        $("form input, form select").on("change focus keyup", function () {
            window.setTimeout(function () {
                if ($("#key-form").valid()) {
                    $('button[type=submit]').removeProp("disabled");
                } else {
                    $('button[type=submit]').prop("disabled", "disabled");
                }
            }, 1000);
        });
    });
</script>