{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="row-fluid col-sm-12">
    <h3 class="row-header col-md-12">Users</h3>

    <div class="col-sm-6">
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead>
            <tr class="bg-primary">
                <th>User</th>
                <th>Role</th>
                <th>Enabled</th>
                {% if user_level == 0 %}
                    <th>
                        <div class="btn-group pull-right">
                            <button class="btn btn-xs btn-success create-user">
                                <i class="fa fa-plus"></i>
                            </button>
                            {% if orphaned_users %}
                                <button class="btn btn-xs btn-info add-user">
                                    <i class="fa fa-user-plus"></i>
                                </button>
                            {% endif %}
                        </div>
                    </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr id="{{ user.info.user_id }}" class="user">
                        <td class="user-name">
                            <button data-call="/projects/{{ project.project_id }}/user/{{ user.username }}/view/"
                                    data-refresh="/projects/{{ project.project_id }}/get_users_security_panel/"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="ID: {{ user.info.user_id }}"
                                    class="btn btn-xs btn-6 btn-social btn-light">
                                <i class="fa fa-info-circle"></i>{{ user.info.username }}
                            </button>
                            <a href="mailto:{{ user.info.email }}" class="btn btn-xs btn-6 btn-social btn-warning">
                                <i class="fa fa-envelope text-top"></i> {{ user.info.email }}
                            </a>
                        </td>
                        <td class="user-role">
                            {{ user.info.user_role }}
                        </td>
                        <td class="user-enabled center-text {% if user.info.user_enabled == "TRUE" %}bg-success{% else %}bg-danger{% endif %}">
                            {% if user.info.user_enabled == "TRUE" %}
                                TRUE
                            {% else %}
                                FALSE
                            {% endif %}
                        </td>
                        {% if user_level == 0 %}
                            <td class="user-actions">
                                <div class="btn-group actions-dropdown">
                                <button class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu bg-alt-dark">
                                        {% if user.info.user_enabled == "TRUE" %}
                                            <li>
                                                <a href="#" class="disable-user" data-title="Disable User"
                                                   data-message="Disable {{ user.username }}?"
                                                   data-call="/toggle_user/{{ user.username }}/disable/"
                                                   data-notice="Disabling User {{ user.username }}">
                                                    <i class="fa fa-user text-danger"></i>disable</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="#" class="enable-user" data-title="Enable User"
                                                   data-message="Enable {{ user.username }}?"
                                                   data-call="/toggle_user/{{ user.username }}/enable/"
                                                   data-notice="Enabling User {{ user.username }}">
                                                    <i class="fa fa-user text-success"></i> enable</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="#" class="remove-user" data-title="Remove User"
                                               data-message="Remove {{ user.username }} from {{ project.project_name }}?"
                                               data-call="/remove_user_from_project/{{ user.info.user_id }}/{{ project.project_id }}/"
                                               data-notice="Removing User {{ user.username }} from {{ project.project_name }}"><i
                                                    class="fa fa-users"></i> remove</a>
                                        </li>
                                        <li class="bg-danger">
                                            <a href="#" class="delete-user" data-title="Delete User"
                                               data-message="Delete {{ user.username }}?"
                                               data-call="/delete_user/{{ user.username }}/{{ user.info.user_id }}/"
                                               data-notice="Deleting User {{ user.username }}">
                                                <i class="fa fa-trash-o"></i> delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="user-placeholder text-warning">
                    <td><p><i>This project has no users</i></p></td>
                    <td></td>
                    <td></td>
                    {% if user_level == 0 %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Users/Security Statistics</h3>
            </div>
            <div class="panel-body center-text">
                {% if user_level == 0 and project_id != project.project_id %}
                    <span id="group-stats">
                        <script>
                            generateQuotaPie("group-stats", [['project', "{{ tenant_info.num_groups }}"], ['cloud', "{{ limits.totalSecurityGroupsUsed }}"], ['available', "{{ quota.security_groups }}"]], "# Security Groups");
                        </script>
                    </span>
                    <span id="key-stats">
                        <script>
                            generateQuotaPie("key-stats", [['cloud', "{{ tenant_info.num_keys }}"], ['available', "{{ quota.key_pairs }}"]], "# Security Keys");
                        </script>
                    </span>
                {% else %}
                    <span id="group-stats">
                        <script>
                            generateQuotaPie("group-stats", [['used', "{{ tenant_info.num_groups }}"], ['available', "{{ quota.security_groups }}"]], "# Security Groups");
                        </script>
                    </span>
                    <span id="key-stats">
                        <script>
                            generateQuotaPie("key-stats", [['used', "{{ tenant_info.num_keys }}"], ['available', "{{ quota.key_pairs }}"]], "# Security Keys");
                        </script>
                    </span>
                {% endif %}
                <div class="col-sm-12">
                    <p class="small pull-left">
                        <label>Legend:</label>
                        <span class="label label-info">Used</span>
                        <span class="label label-success">Available</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid col-sm-12">
    <div class="col-sm-6">
        <h3 class="row-header">Security Groups</h3>
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead class="bg-primary">
            <tr>
                <th>Security Group</th>
                <th>Owner</th>
                <th>
                    <button class="btn btn-xs btn-success pull-right create-group"><i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if groups %}
                {% for group in groups %}
                    <tr id="{{ group.sec_group_id }}" class="group">
                        <td class="group-name">
                            <button data-call="/security_group/{{ group.sec_group_id }}/{{ group.project_id }}/view/"
                                    data-refresh="/projects/{{ project.project_id }}/get_users_security_panel/"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="ID: {{ group.sec_group_id }}"
                                    class="btn btn-xs btn-12 btn-social btn-light">
                                <i class="fa fa-info-circle"></i>{{ group.sec_group_name }}
                            </button>
                        </td>
                        <td class="group-owner">
                            {{ group.username }}
                        </td>
                        <td class="group-actions">
                            {% if user_level == 0 or username == group.username %}
                                <div class="btn-group actions-dropdown dropup">
                                <button class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">
                                    <i class="fa fa-caret-up"></i>
                                </button>
                                <ul class="dropdown-menu bg-alt-dark">
                                        <li><a href="#" class="update-group"
                                                data-refresh="/projects/{{ project.project_id }}/get_users_security_panel/"
                                                data-call="/security_group/get/update/{{ group.sec_group_id }}/{{ project.project_id }}/">
                                                <i class="fa fa-cog"></i> update</a>
                                        </li>
                                        <li class="bg-danger"><a href="#" class="delete-group"
                                                data-title="Delete Security Group"
                                                data-message="Delete {{ group.sec_group_name }}?"
                                                data-call="/delete_sec_group/{{ group.sec_group_id }}/{{ project.project_id }}/"
                                                data-notice="Deleting Security Group {{ group.sec_group_name }}">
                                                <i class="fa fa-trash-o"></i> delete</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="group-placeholder text-warning">
                    <td><p><i>This project has no security groups</i></p></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6 no-padding">
        <h3 class="row-header">Security Keys</h3>
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead class="bg-primary">
            <tr>
                <th>Security Key</th>
                <th>Owner</th>
                <th>
                    <button class="btn btn-xs btn-success pull-right create-key"><i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if keys %}
                {% for key in keys %}
                    <tr id="{{ key.key_id }}" class="key">
                        <td class="key-name">
                            <button data-call="/key_pair/{{ key.key_id }}/{{ project.project_id }}/view/"
                                    data-refresh="/projects/{{ project.project_id }}/get_users_security_panel/"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="ID: {{ key.key_id }}"
                                    class="btn btn-xs btn-12 btn-social btn-light">
                                <i class="fa fa-info-circle"></i>{{ key.key_name }}
                            </button>
                        </td>
                        <td class="key-owner">
                            <span id="{{ key.key_id }}-user-text">{{ key.username }}</span>
                        </td>
                        <td class="key-actions">
                            <button type='button' class="delete-key btn btn-xs btn-danger pull-right"
                                data-title="Delete Security Key" data-message="Delete {{ key.key_name }}?  Security keys are needed to log into instances.  Please verify you no longer need this key before deleting."
                                data-call="/key_pair/{{ key.key_name }}/{{ project.project_id }}/delete/"
                                data-notice="Deleting Security Key {{ key.key_name }}">
                                <i class="fa fa-minus"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="key-placeholder text-warning">
                    <td><p><i>You have no keys defined</i></p></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
