{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title " id="modal-label">Create Volume</h4>
</div>

<div class="modal-body bg-default-light">
    <div class="container-fluid">
        <div class="row-fluid">
            <form id="volume-form" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group col-sm-12">
                        <label for="volume-name" class="col-sm-4 control-label">Name:</label>
                        <input type="text" name="volumeName" id="volume-name" placeholder="Volume Name"
                               class="col-sm-8">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-loading-text="Close">Close</button>
    <button type="submit" form="volume-form" class="btn btn-primary" data-loading-text="Loading ..." disabled>
        Confirm
    </button>
</div>

<script>
    $(function () {
        var buttons = $(this).parent().parent().find('button'),
                page = $("#page-content"),
                storage = $("#storage-container");
        $("#volume-form").validate({
            rules: {
                volumeName: {
                    required: true,
                    charField: true,
                    minlength: standardStringMin,
                    maxlength: standardStringMax
                }
            },
            submitHandler: function () {
                setModalButtons(false, buttons);
                showMessage('info', "Cloning Volume");

                $.getJSON('/create_vol_clone/' + CURRENT_PROJECT_ID + '/{{ volume_id }}/' + $("#volume-name").val() + '/')
                        .done(function (data) {
                            if (data.status == 'error') {
                                showMessage('error', data.message);
                            }
                            if (data.status == 'success') {
                                showMessage('success', data.message);
                                refreshContainer(page, storage, "/projects/" + CURRENT_PROJECT_ID + "/get_storage_panel/");
                            }
                        })
                        .fail(function () {
                            showMessage('error', 'Server Fault');	// Flag server fault message
                        });
                closeModal();
            }
        });
        $("#volume-name").change(function () {
            if ($("#volume-form").valid()) {
                $('button[type=submit]').removeProp("disabled");
            }
        })
    });
</script>