{% extends "coal/base-fluid.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1><i class="fa fa-warning text-danger"></i> Bad Request: 403</h1>
        </div>
        <div class="well center-text">
            <p class="lead text-warning">
                Oh no! You're request was bad!
            </p>

            <p class="lead text-warning">
                Please try again after we teach your request a thing or two ....
            </p>

            <h1 class="text-primary">
                <i class="fa fa-giant fa-scissors"></i>
                <i class="fa fa-giant fa-file-text"></i>
            </h1>
        </div>
    </div>
{% endblock %}