{% extends "coal/base-fluid.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1><i class="fa fa-warning text-danger"></i> Unauthorized: 403</h1>
        </div>
        <div class="well center-text">
            <p class="lead text-warning">
                Oh no! You were not authorized to view that page!
            </p>

            <p class="lead text-warning">
                Please try again, or try <a href="/welcome/">logging in</a>.
            </p>

            <h1 class="text-primary">
                <i class="fa fa-giant fa-search"></i>
                <i class="fa fa-giant fa-users"></i>
            </h1>
        </div>
    </div>
{% endblock %}