<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/error_code.css"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
    <head>
    </head>
    <body bgcolor="#272765" style="text-align: center">
        <h1 style="color:#ff6633">
        Error 500 - Internal Server Error
        </h1>
        <p style="color:#ff6633">
            I've got some bad news for you. The server was whacked by gnomes again.  See, our image of the mess will not load.
        </p>
        <br/>
        <img id="error_code_img" src="{{ STATIC_URL }}images/ErrorCode404.png" >
        <br/>
        <p style="color:#ff6633">
            Clearly the fairies have been messing with their pixie dust a little to much and cannot resolve the issue.
        </p>
        <p style="color:#ff6633">
            Please go take a coffee break and retry again in a few minutes.
        </p>
        <p style="color:#ff6633">
            Smashing the reload button will only make the entire magical kingdom more lazy.
        </p>
    </body>
</html>
