<h1 class="page-header">{{ username }}'s Account</h1>

{% if project_name != "trans_default" %}
    {% if user_level > 0 %}
        <div class="col-md-6">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr class="bg-primary">
                    <th>{{ username }}'s Details</th>
                    <th>
                        <div class="btn-group actions-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu bg-primary table-dropdown">
                                <li><a href="#" class="update-password">Update Password</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>User Name</th>
                    <td>{{ user_info.username }}</td>
                </tr>
                <tr>
                    <th>User ID</th>
                    <td>{{ user_info.user_id }}</td>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <td>{{ user_info.project_name }}</td>
                </tr>
                <tr>
                    <th>Project ID</th>
                    <td>{{ user_info.project_id }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user_info.user_role }}</td>
                </tr>
                <tr>
                    <th>Enabled</th>
                    <td>{{ user_info.user_enabled }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user_info.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr class="bg-primary">
                    <th>{{ username }}'s Project Details</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Project Name</th>
                    <td>{{ project_info.project_name }}</td>
                </tr>
                <tr>
                    <th>Instances</th>
                    <td>{{ project_info.num_servers }}</td>
                </tr>
                <tr>
                    <th>Floating IPs</th>
                    <td>{{ project_info.num_fips }}</td>
                </tr>
                <tr>
                    <th>Volumes</th>
                    <td>{{ project_info.num_vol }}</td>
                </tr>
                <tr>
                    <th>Routers</th>
                    <td>{{ project_info.num_rout }}</td>
                </tr>
                <tr>
                    <th>Internal Networks</th>
                    <td>{{ project_info.num_net }}</td>
                </tr>
                <tr>
                    <th>Users</th>
                    <td>{{ project_info.num_users }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% elif user_level == 0 %}
        <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr class="bg-primary">
                    <th>{{ username }}'s Details</th>
                    <th>
                        <div class="btn-group actions-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu bg-primary table-dropdown">
                                <li><a href="#" class="update-password">Update Password</a></li>
                                <li><a href="#" class="phonehome" data-title="Phone Home"
                                       data-message="Send support information to TransCirrus?" data-call="/phonehome/"
                                       data-notice="Phoning Home" data-async="getPhoneHomeMessage">Phone Home</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>User Name</th>
                    <td>{{ user_info.username }}</td>
                </tr>
                <tr>
                    <th>User ID</th>
                    <td>{{ user_info.user_id }}</td>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <td>{{ user_info.project_name }}</td>
                </tr>
                <tr>
                    <th>Project ID</th>
                    <td>{{ user_info.project_id }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user_info.user_role }}</td>
                </tr>
                <tr>
                    <th>Enabled</th>
                    <td>{{ user_info.user_enabled }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user_info.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% else %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr class="bg-primary">
                <th>{{ username }}'s User Details</th>
                <th>
                    <div class="btn-group actions-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Actions
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu bg-primary table-dropdown">
                            <li><a href="#" class="update-password">Update Password</a></li>
                            <li><a href="#" class="upgrade" data-title="Upgrade"
                                   data-message="Upgrade to the latest version of TransCirrus" data-call="/upgrade/"
                                   data-notice="Upgrading" data-async="getUpgradeMessage">Upgrade Software</a></li>
                            <li><a href="#" class="phonehome" data-title="Phone Home"
                                   data-message="Send support information to TransCirrus" data-call="/phonehome/"
                                   data-notice="Phoning Home" data-async="getPhoneHomeMessage">Phone Home</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>User Name</th>
                <td>{{ user_info.username }}</td>
            </tr>
            <tr>
                <th>User ID</th>
                <td>{{ user_info.user_id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user_info.user_role }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ user_info.user_enabled }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_info.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}