<h1 class="page-header">Node Stats</h1>

{% if error %}<script>showMessage('error', "{{ error }}");</script>{% endif %}


{% for node in full_stats %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ node.name }} - {{ node.type }}</h3>
        </div>
        <div class="panel-body">
            <h5>Cpu Usage</h5>

            <div class="progress">
                <div class="progress-bar progress-bar-info"
                     style="width: {{ node.cpu_system }}%">
                    <span>{{ node.cpu_system }}%</span>
                </div>
            </div>

            <h5>Memory Usage</h5>

            <div class="progress">
                <div class="progress-bar progress-bar-success"
                     style="width: {{ node.mem_used_percent }}%">
                    <span>{{ node.mem_used_percent }}%</span>
                </div>
            </div>

            <h5>Swap Usage</h5>

            <div class="progress">
                <div class="progress-bar progress-bar-warning"
                     style="width: {{ node.swap_used_percent }}%">
                    <span>{{ node.swap_used_percent }}%</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="panel-heading">
                <h3 class="panel-title">Disc Usage</h3>
            </div>
            {% for disk in node.disks %}
                <h5>{{ disk.name }}</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger"
                         style="width: {{ disk.space_usage_precent }}%">
                        <span>{{ disk.space_usage_mb }}/{{ disk.total_space }}MB</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}