<!-- Begin Floating IP widget-->
<div class="span4">
	<div class="well widget">
		<div class="widget-legend">
			Floating IP's

            {% if user_level <= 1 %}
			<a href="#" id="{{default_public}}" class="allocate_ip btn btn-widget" style="float:right">Allocate</a>
			<a href="#" id="assign_ip" class="btn btn-widget" style="float:right">Assign</a>
            {% endif %}
		</div>

		<div id="fip-assign-dialog-form" title="Assign floating IP to instance">
			<p class="validateTips">Assign a floating IP to an instance.</p>
			<form>
				{% csrf_token %}
				<fieldset>

					<label for="assign_floating_ip">Floating IP</label>
					<select name="assign_floating_ip" id="assign_floating_ip">
						{% for fip in floating_ips %}
                           {% if fip.floating_in_use == 'false' %}
								<option value="{{fip.floating_ip}}">{{fip.floating_ip}}</option>
							{% endif %}
						{% endfor %}
					</select>

					<label for="assign_instance">Instance</label>
					<select name="assign_instance" id="assign_instance">
						{% for server in instances %}
							<option value="{{server.server_id}}">{{server.server_name}}</option>
						{% endfor %}
					</select>

				</fieldset>
			</form>
		</div>

		<div id="fip-deallocate-confirm-form" title="Deallocate Floating IP">
			<p style="text-align:center;">
				Deallocate
				<span class="ip-address"></span>
				?
			</p>
		</div>

		<div id="fip-unassign-confirm-form" title="Unassign Floating IP">
			<p style="text-align:center;">
				Unassign
				<span class="ip-address"></span>
				?
			</p>
		</div>

		<table id="fip_list" class="paleblue widget-table">
			<tr>
				<th>Floating IP</th>
				<th>Assigned To</th>
				<th>Actions</th>
			</tr>
			{% if floating_ips %}
	    		{% for fip in floating_ips %}
					<tr id="{{fip.floating_ip}}" class="{{fip.floating_ip_id}}">
						<td id="{{fip.floating_ip}}-ip-cell">
							<a href="/floating_ip/{{ fip.floating_ip_id }}/view/" class="disable-link">
								<span id="{{fip.floating_ip}}-id-address">{{fip.floating_ip}}</span>
							</a>
						</td>
						<td id="{{fip.floating_ip}}-instance-cell">
							{% if fip.instance_name == "" %}
								<span id="{{fip.floating_ip}}-instance-name">None</span>
							{% else %}
								<span id="{{fip.floating_ip}}-instance-name" class="">{{fip.instance_name}}</span>
							{% endif %}
						</td>
						<td id="{{fip.floating_ip}}-actions-cell">
							{% if fip.floating_in_use == 'true' %}
								<a id="{{fip.floating_ip}}" class="unassign_ip" href="#">unassign</a>
							{% else %}
								<a id="{{fip.floating_ip}}" class="deallocate_ip" href="#">deallocate</a>
			    			{% endif %}
						</td>
					</tr>
				{% endfor %}
	  		{% else %}
			<tr id="fip_placeholder">
				<td>
					<p><i>This project has no floating IPs</i>
					</p>
				</td>
				<td></td>
				<td></td>
			</tr>
			{% endif %}
		</table>
        <div id="fip_progressbar" class="ui-progressbar" style="height: 1em; margin: .3em; padding: .2em; display: none;"></div>
	</div>
</div>