<!-- Begin Floating IP widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Floating IP's
		<a href="/allocate_floating_ip/{{ project.project_id }}/{{default_public}}/"  id="allocate_floating_ip" class="btn btn-mini btn-inverse" style="float:right">Allocate IP</a>
	      {% if floating_ips %}
		<a href="#"  id="assign_ip" class="btn btn-mini" style="float:right">Assign</a>
	      {% endif %}
          </div>

	   <div id="fip-assign-dialog-form" title="Assign floating IP to instance">
                <p class="validateTips">Assign a floating IP to an instance.  </p>
		<form>
                {% csrf_token %}
                <fieldset>

		    <label for="assign_floating_ip">Floating IP</label>
                    <select name="assign_floating_ip" id="assign_floating_ip">
			{% for fip in floating_ips %}
                           {% if fip.floating_in_use == 'false' %}
		               <option value="{{fip.floating_ip}}">{{fip.floating_ip}}</option>
                           {% endif %}
			{% endfor %}
                    </select>

		    <label for="assign_instance">Instance</label>
                    <select name="assign_instance" id="assign_instance">
			{% for server in instances %}
		   	    <option value="{{server.server_id}}">{{server.server_name}}</option>
			{% endfor %}
                    </select>

                </fieldset>
                </form>
           </div>

	  {% if floating_ips %}
	    <table class="paleblue">

                <tr> <th>Floating IP</th> <th>Assigned To</th> <th>Actions</th></tr>

                {% for fip in floating_ips %}

		    <tr> 
			<td><a href="/floating_ip/{{ fip.floating_ip_id }}/view/">{{fip.floating_ip}}</a></td>  
			<td>
			  {% if fip.instance_name == "" %}
			    None
			  {% else %}
			    {{fip.instance_name}}
			  {% endif %}
			</td>
			<td> 
			    {% if fip.floating_in_use == 'true' %}
			      <a href="/unassign_floating_ip/{{fip.floating_ip_id}}/">unassign</a> |
			    {% endif %}
			    <a href="/deallocate_floating_ip/{{ project.project_id }}/{{ fip.floating_ip }}/" 
                                data-confirm="This will deallocate {{fip.floating_ip}} from this project and make any associated VM's private. Are you sure?"> deallocate
                            </a> 
                        </td>
                    </tr>

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no floating IPs</i></p>
	  {% endif %}
          
        </div>
      </div>
