<!-- Begin image widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Images
	     
	     <a href="#" id="import-image" class="btn" style="float:right">Import Image</a>
          </div>
	  
	  <div id="image-import-dialog-form" title="Import existing image">
 		<p class="validateTips">All fields are required.  </p>

                <form id='image-upload-form' action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <fieldset>
                    <label for="import_img_name">Image Name</label>
                    <input type="text" name="import_img_name" id="import_img_name"  class="text ui-widget-content ui-corner-all" />
                    <label for="import_img_cont">Container Format</label>
                    <select name="import_img_cont" id="import_img_cont">
			<option value="bare">bare</option>
			<option value="ovf">ovf</option>
			<option value="aki">aki</option>
			<option value="ari">ari</option>
			<option value="ami">ami</option>
                    </select>
		    <label for="import_img_disk">Disk Format</label>
		    <select name="import_img_disk" id="import_img_disk">
			<option value="raw">raw</option>
			<option value="vhd">vhd</option>
			<option value="vmdk">vmdk</option>
			<option value="vdi">vdi</option>
			<option value="iso">iso</option>
			<option value="qcow2">qcow2</option>
			<option value="aki">aki</option>
			<option value="ari">ari</option>
			<option value="ami">ami</option>
                    </select>
		    <label for="import_img_type">Local/Remote</label>
		    <select name="import_img_type" id="import_img_type" onchange="import_location(this, this.form)">
			<option value="image_file">local</option>
			<option value="image_url">remote</option>
                    </select>
		    <label for="import_remote">Remote Image Location (URL)</label>
                    <input type="text" name="import_remote" id="import_remote" disabled class="text ui-widget-content ui-corner-all" />

		    <label for="import_local">Local Image Location</label>
                <input type="file" name="import_local" id="import_local" />

            <label for="import_img_vis">Image Visibility</label>
		    <select name="import_img_vis" id="import_img_vis">
			<option value="public">public</option>
			<option value="private">private</option>
                    </select>
                </fieldset>
                </form>
                <div class="progress" id="upload_progress">
                    <div class="bar" id="upload_bar"></div >
                    <div class="percent" align="center" id="upload_percent">0%</div >
                </div>
        </div>
	  
          {% if images %}
	    <table class="paleblue widget-table" id="image_list">

                <tr> <th>Image</th>  <th>Actions</th>  </tr>

                {% for image in images %}

		    <tr> <td>{{image.image_name}}</td>
			 <td>
			  <a href="/delete_image/{{image.image_id}}/">delete</a>
			 </td>  </tr>

		{% endfor %}
	    </table>
	  {% else %}	
	   <p><i>This project has no images.</i></p>
	  {% endif %}
        </div>
      </div>
    <script type="text/javascript">
        function import_location (box, form)
        {
            if (box.value == "image_url")
            {
                document.getElementById('import_local').disabled = true;
                document.getElementById('import_remote').disabled = false;
            }
            else
            {
                document.getElementById('import_local').disabled = false;
                document.getElementById('import_remote').disabled = true;
            }
            return true;
        }
    </script>
