<!-- Begin instance widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Instances <a href="#"  id="create-instance" class="btn btn-mini btn-inverse" style="float:right">New Instance</a>
	     {% if user_level == 0 %}
	       <a href="#"  id="evacuate-instance" class="btn btn-mini" style="float:right">Evacuate</a>
	       <a href="#"  id="live-migrate-instance" class="btn btn-mini" style="float:right">Live Migrate</a>
	       <a href="#"  id="migrate-instance" class="btn btn-mini" style="float:right">Migrate</a>
	     {% endif %}
          </div>
	
	
 	  <div id="instance-dialog-form" title="Create new instance">
                <form>
                {% csrf_token %}
                <fieldset>

                    <label for="name">Instance Name</label>
                    <input type="text" name="name" id="name"  class="text ui-widget-content ui-corner-all" />

		    <label for="sec_group_name">Security Group</label>
                    <select name="sec_group_name" id="sec_group_name">
			{% for sg in sec_groups %}
		   	    <option value="{{sg.sec_group_name}}">{{sg.sec_group_name}}</option>
			{% endfor %}
                    </select>

		    <label for="sec_key_name">Security Key</label>
                    <select name="sec_key_name" id="sec_key_name">
			{% for sk in sec_keys %}
		   	    <option value="{{sk.key_name}}">{{sk.key_name}}</option>
			{% endfor %}
                    </select>

		    <label for="network_name">Private Network</label>
                    <select name="network_name" id="network_name">
			{% for net in priv_net_list %}
		   	    <option value="{{net.net_name}}">{{net.net_name}}</option>
			{% endfor %}
                    </select>

		   <label for="image_name">Image</label>
                    <select name="image_name" id="image_name">
			{% for image in images %}
		   	    <option value="{{image.image_name}}">{{image.image_name}}</option>
			{% endfor %}
                    </select>
		    
		    <label for="flavor_name">Flavor</label>
                    <select name="flavor_name" id="flavor_name">
			{% for flavor in flavors %}
		   	    <option value="{{flavor.flavor_name}}">{{flavor.flavor_name}}</option>
			{% endfor %}
                    </select>

                </fieldset>
                </form>
           </div>
	{% if user_level == 0 %}
	  <div id="instance-live-migrate-form" title="Migrate live instance">
		<p class="validateTips">Migrate a live instance to another host.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
		    <label for="live_instance">Instance</label>
                    <select name="live_instance" id="live_instance">
			{% for i in instances %}
		   	    <option value="{{i.server_id}}">{{i.server_name}}</option>
			{% endfor %}
                    </select>
		    <label for="live_host_name">Host</label>
                    <select name="live_host_name" id="live_host_name">
			{% for h in hosts %}
		   	    <option value="{{h.host_name}}">{{h.host_name}}</option>
			{% endfor %}
                    </select>

                </fieldset>
                </form>
           </div>

	  <div id="instance-migrate-form" title="Migrate instance">
		<p class="validateTips">Migrate an instance to another host automatically.</p>
                <form>
                {% csrf_token %}
                <fieldset>
		    <label for="mig_instance">Instance</label>
                    <select name="mig_instance" id="mig_instance">
			{% for i in instances %}
		   	    <option value="{{i.server_id}}">{{i.server_name}}</option>
			{% endfor %}
                    </select>
                </fieldset>
                </form>
           </div> 

	  <div id="instance-evacuate-form" title="Evacuate instance">
                <p class="validateTips">Evacuate an instance from a failed host to a new host.  </p>
		<form>
                {% csrf_token %}
                <fieldset>
		    <label for="instance">Instance</label>
                    <select name="instance" id="instance">
			{% for i in instance_info.items %}
		   	    <option value="{{i.server_id}}">{{i.server_name}}</option>
			{% endfor %}
                    </select>
		    <label for="host_name">Host</label>
                    <select name="host_name" id="host_name">
			{% for h in hosts %}
		   	    <option value="{{h.host_name}}">{{h.host_name}}</option>
			{% endfor %}
                    </select>

                </fieldset>
                </form>
           </div>
	{% endif %}
	
	  {% if instances %}
	    <table class="paleblue">
                <tr> <th>Name</th>  <th>Status</th><th>OS / flavor</th><th>Actions</th> </tr>
                
                 {% for k,v in instance_info.items %}
			<tr>
			    <td><a href="/{{project.project_id}}/{{v.server_id}}/instance_view/">{{v.server_name}}</td>
			    <td>{{v.server_status}}</td>
			    <td>{{v.server_os}} / {{v.server_flavor}}</td>
			    <td>
			       {% if v.server_status == "ACTIVE" %}
				 <a href="{{v.novnc_console}}" target="_blank">console</a>
				 | <a href="/server/{{project.project_id}}/{{v.server_id}}/pause_server">pause</a>
			         | <a href="/server/{{project.project_id}}/{{v.server_id}}/suspend_server">suspend</a>
			       {% endif%}
                               {% if v.server_status == "PAUSED" %}| <a href="/server/{{project.project_id}}/{{v.server_id}}/unpause_server">unpause</a> {% endif%}
			       {% if v.server_status == "SUSPENDED" %}| <a href="/server/{{project.project_id}}/{{v.server_id}}/resume_server">resume</a> {% endif%}
			       {% if user_level == 0 and v.server_status == "ACTIVE" %}| <a href="/server/{{project.project_id}}/{{v.server_id}}/delete_server/" 
                                data-confirm="This will completely remove {{v.server_name}} from this project. Are you sure?">delete</a>
			       {% endif %}
			    </td>
			 </tr>
                {% endfor %}  
                
	    </table>
	  {% else %}	
	   <p><i>This project has no instances</i></p>
	  {% endif %}
        </div>
      </div>
