<!-- Begin Private Networks widget-->

<div class="span4">
    <div class="well sfd-well">
        <div class="legend">

            <div id="privateNet_progressbar" class="ui-progressbar progressbar">
                <span class="progressbar-text">Working</span>
            </div>

            Private Networks

            <a href="#" id="create-private-network" class="btn" style="float:right">Create</a>
        </div>

        <div class="well-tall sfd-table">
            <table class="paleblue widget-table table-tall" id="privateNet_list">

                <tr>
                    <th>Network</th>
                    <th>Network info</th>
                    <th>Subnets</th>
                    <th>Actions</th>
                </tr>

                <script>privateNetworks.clear();</script>
                {% if private_networks %}
                {% for net in priv_net_list %}
                <script>
                    privateNetworks.setItem(
                            "{{net.net_id}}",
                            { id: "{{net.net_id}}", name: "{{net.net_name}}", router: "{% if net.router_id == '' %}None{% else %}{{net.router_id}}{% endif %}" }
                    );
                </script>
                {% endfor %}
                {% for key,value in private_networks.items %}
                <tr id="{{ value.net_id}}">
                    <td id="{{ value.net_id }}-name-cell">
                        <a href="/network/{{value.net_id}}/view/" class="disable-link">
                            <span id="{{ value.net_id }}-name-text">{{key}}</span>
                        </a>
                    </td>
                    <td id="{{ value.net_id }}-status-cell">
                        shared: <span id="{{ value.net_id }}-shared-text">{{value.net_shared}}</span>
                        <span id="{{ value.net_id }}-status-pipe"> | </span>
                        admin state: <span id="{{ value.net_id }}-admin-text">{{value.net_admin_state}}</span>
                    </td>
                    <td id="{{ value.net_id }}-subnet-cell">
                        {% for subnet in value.net_subnet_id %}
                        <span id="{{ subnet }}">{{subnet.subnet_name}}</span><br>
                        {% endfor %}
                    </td>
                    <td id="{{ value.net_id }}-actions-cell">
                        <a href="#" class="delete-privateNet">delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr id="privateNet_placeholder">
                    <td><p><i>This project has no private networks</i></p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>

<div id="private-network-dialog-form" title="Create new private network">
    <p class="validateTips">Create a new private network. All form fields are required.</p>

    <form>
        {% csrf_token %}
        <fieldset>
            <label for="privateNet_name">Private Network Name</label>
            <input type="text" name="privateNet_name" id="privateNet_name"
                   class="text ui-widget-content ui-corner-all privateNet-text-field"/>

            <label for="admin_state">Admin State?</label>
            <select name="admin_state" id="admin_state">
                <option value="true" selected="selected">true</option>
                <option value="false">false</option>
            </select>
            <label for="shared">Shared?</label>
            <select name="shared" id="shared">
                <option value="false" selected="selected">false</option>
                <option value="true">true</option>
            </select>
        </fieldset>
    </form>
</div>

<div id="private-network-delete-confirm-form" title="Delete Private Network">
    <p style="text-align:center;">Delete <span class="privateNet-name"></span>? If there is a router connected, it will
        be deleted.</p>
</div>
