<!-- Begin Containers widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Object Containers
             
             <a href="#" id="create-container" class="btn btn-mini btn-inverse" style="float:right"><i class="icon-plus"></i> New Container</a>
          </div>

        <div id="container-dialog-form" title="Create new container">
        <p class="validateTips">All fields are required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="create_cont_name">Container Name</label>
                    <input type="text" name="create_cont_name" id="create_cont_name"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>

          <table class="paleblue">
        {% if containers %}
              <tr> <th>Container</th> <th>Actions</th> </tr>
                {% for c in containers %}
          <tr>
	    <td>
	      <a href="/projects/{{project.project_id}}/containers/{{c}}/view/">{{c}}</a>
	    </td>
	    <td>
	      <a href="/delete_container/{{c}}/{{ project.project_id}}/" data-confirm="This will completely remove {{c}} from this project. Are you sure?">delete</a>
	    </td>
	  </tr>
        {% endfor %}
        {% else %}
          <p><i>This project has no containers</i></p>
        {% endif %}
          </table>

        </div>
      </div>
