<!-- Begin Containers widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Containers (experimental)
             
             <a href="#" id="create-container" class="btn btn-mini btn-inverse" style="float:right"><i class="icon-plus"></i> New Container</a>
	     {% if containers %}
		<a href="#" id="upload-object" class="btn btn-mini" style="float:right">Upload Object</a>
	      {% endif %}
          </div>

        <div id="container-dialog-form" title="Create new container">
	  <p class="validateTips">All fields are required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="create_cont_name">Container Name</label>
                    <input type="text" name="create_cont_name" id="create_cont_name"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
        </div>
	<div id="object-upload-dialog-form" title="Upload object to container">
	      <p class="validateTips">All fields are required.  </p>
	      <form>
	      {% csrf_token %}
	      <fieldset>
		  <label for="upload_obj_cont">Container</label>
		  <select name="upload_obj_cont" id="upload_obj_cont">
		    {% for c in containers %}
		      <option value="{{c}}">{{c}}</option>
		    {% endfor %}
		  </select>
		  <label for="upload_obj">Object</label>
		  <input type="file" name="upload_obj" id="upload_obj"  class="text ui-widget-content ui-corner-all" />
	      </fieldset>
	      </form>
	  </div>

          <table class="paleblue">
        {% if containers %}
              <tr> <th>Container</th> <th>Actions</th> </tr>
                {% for c in containers %}
          <tr>
	    <td>
	      <a href="/projects/{{project.project_id}}/containers/{{c}}/view/">{{c}}</a>
	    </td>
	    <td>
	      <a href="/delete_container/{{c}}/{{ project.project_id}}/">delete</a>
	    </td>
	  </tr>
        {% endfor %}
        {% else %}
          <p><i>This project has no containers</i></p>
        {% endif %}
          </table>

        </div>
      </div>
