{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="row-fluid">
    <div class="col-sm-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Project Info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group list-unstyled list-hover col-sm-12">
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Project Name: </span></div>
                        <div class="col-sm-8 center-text"><span>{{ project.project_name }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Project ID: </span></div>
                        <div class="col-sm-8 center-text break"><span class="">{{ project.project_id }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Host System: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="IP: {{ project.host_system_ip }}">{{ project.host_system_name }}</span>
                        </div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Default Group: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="ID: {{ project.def_security_group_id }}">{{ project.def_security_group_name }}</span>
                        </div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Default Key: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="ID: {{ project.def_security_key_id }}">{{ project.def_security_key_name }}</span>
                        </div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Default Network: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="ID: {{ project.def_network_id }}">{{ project.def_network_name }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Project Stats</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group list-unstyled list-hover col-sm-12">
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Images: </span></div>
                        <div class="col-sm-4"><span class="center-text">{{ tenant_info.num_images }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Volume Snapshots: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_snaps }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Users: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_users }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Security Keys: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_keys }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Internal Networks: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_net }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Routers: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_rout }}</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title inline-block">Project Quotas</h3>
                {% if user_level == 0 %}
                    <div class="btn-group actions-dropdown">
                        <a href="#" class="dropdown-toggle bg-primary" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            Actions
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu panel-dropdown bg-primary">
                            <li><a href="#" id="update-quotas">Update Quotas</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="panel-body">
                {% if user_level == 0  and project_id != project.project_id %}
                    <p>Legend:
                        <span class="label label-info">Project</span>
                        <span class="label label-success">Cloud</span>
                        <span class="label bg-progress">Available</span>
                    </p>
                    <div class="list-group list-unstyled col-sm-12 no-padding">
                        <div class="row-fluid">
                            <div class="col-sm-6">
                                <div class="cores-quota">
                                    <script>
                                        generateQuotaBar($(".cores-quota"), "{{ limits.absolute.totalCoresUsed }}", "{{ quota.cores }}", "Cores:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="ram-quota">
                                    <script>
                                        generateQuotaBar($(".ram-quota"), "{{ limits.absolute.totalRAMUsed }}", "{{ quota.ram }}", "RAM:");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-6">
                                <div class="instance-quota">
                                    <script>
                                        generateQuotaBar($(".instance-quota"), "{{ tenant_info.num_instances }}", "{{ quota.instances }}", "Instances:", "{{ limits.absolute.totalInstancesUsed }}");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="floating-ips-quota">
                                    <script>
                                        generateQuotaBar($(".floating-ips-quota"), "{{ tenant_info.num_fips }}", "{{ quota.floating_ips }}", "Floating IPs:", "{{ limits.absolute.maxTotalFloatingIps }}");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <div class="volume-quota">
                                    <script>
                                        generateQuotaBar($(".volume-quota"), "{{ tenant_info.num_vols }}", "{{ quota.volumes }}", "Volumes:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="storage-quota">
                                    <script>
                                        generateQuotaBar($(".storage-quota"), "{{ tenant_info.used_storage }}", "{{ quota.gigabytes }}", "Storage:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="snapshots-quota">
                                    <script>
                                        generateQuotaBar($(".snapshots-quota"), "{{ tenant_info.num_snaps }}", "{{ quota.snapshots }}", "Snapshots:");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-6">
                                <div class="security-groups-quota">
                                    <script>
                                        generateQuotaBar($(".security-groups-quota"), "{{ tenant_info.num_groups }}", "{{ quota.security_groups }}", "Security Groups:", "{{ limits.absolute.totalSecurityGroupsUsed }}");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="security-keys-quota">
                                    <script>
                                        generateQuotaBar($(".security-keys-quota"), "{{ tenant_info.num_keys }}", "{{ quota.key_pairs }}", "Security Keys:");
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Legend:
                        <span class="label label-info">Project</span>
                        <span class="label bg-progress">Available</span>
                    </p>
                    <div class="list-group list-unstyled col-sm-12">
                        <div class="row-fluid">
                            <div class="col-sm-6">
                                <div class="instance-quota">
                                    <script>
                                        generateQuotaBar($(".instance-quota"), "{{ tenant_info.num_instances }}", "{{ quota.instances }}", "Instances:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="floating-ips-quota">
                                    <script>
                                        generateQuotaBar($(".floating-ips-quota"), "{{ tenant_info.num_fips }}", "{{ quota.floating_ips }}", "Floating IPs:");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <div class="volume-quota">
                                    <script>
                                        generateQuotaBar($(".volume-quota"), "{{ tenant_info.num_vols }}", "{{ quota.volumes }}", "Volumes:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="storage-quota">
                                    <script>
                                        generateQuotaBar($(".storage-quota"), "{{ tenant_info.used_storage }}", "{{ quota.gigabytes }}", "Storage:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="snapshots-quota">
                                    <script>
                                        generateQuotaBar($(".snapshots-quota"), "{{ tenant_info.num_snaps }}", "{{ quota.snapshots }}", "Snapshots:");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-6">
                                <div class="security-groups-quota">
                                    <script>
                                        generateQuotaBar($(".security-groups-quota"), "{{ tenant_info.num_groups }}", "{{ quota.security_groups }}", "Security Groups:");
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="security-keys-quota">
                                    <script>
                                        generateQuotaBar($(".security-keys-quota"), "{{ tenant_info.num_keys }}", "{{ quota.key_pairs }}", "Security Keys:");
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>