<h1 class="page-header">{{ project.project_name }} Details</h1>

{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="col-sm-12">

    <div class="col-sm-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Project Info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group list-unstyled list-hover col-sm-12">
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Project Name: </span></div>
                        <div class="col-sm-8 center-text"><span>{{ project.project_name }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Project ID: </span></div>
                        <div class="col-sm-8 center-text break"><span class="">{{ project.project_id }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Host System: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="IP: {{ project.host_system_ip }}">{{ project.host_system_name }}</span>
                        </div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Default Group: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="ID: {{ project.def_security_group_id }}">{{ project.def_security_group_name }}</span>
                        </div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Default Key: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="ID: {{ project.def_security_key_id }}">{{ project.def_security_key_name }}</span>
                        </div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-4"><span>Default Network: </span></div>
                        <div class="col-sm-8 center-text">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  title="ID: {{ project.def_network_id }}">{{ project.def_network_name }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Project Stats</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group list-unstyled list-hover col-sm-12">
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Instances: </span></div>
                        <div class="col-sm-4"><span class="center-text">{{ tenant_info.num_servers }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Floating IPs: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_fips }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Volumes: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_vol }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Routers: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_rout }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Internal Networks: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_net }}</span></div>
                    </li>
                    <li class="col-sm-12">
                        <div class="col-sm-8"><span>Users: </span></div>
                        <div class="col-sm-4"><span class="center-text"> {{ tenant_info.num_users }}</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Project Quotas</h3>
            </div>
            <div class="panel-body">
                <div class="list-group list-unstyled col-sm-12">
                    <div class="cores-quota">
                        <script>
                            generateQuotaBar($(".cores-quota"), "{{ limits.absolute.totalCoresUsed }}", "{{ limits.absolute.maxTotalCores }}", "Cores:");
                        </script>
                    </div>
                    <div class="instance-quota">
                        <script>
                            generateQuotaBar($(".instance-quota"), "{{ limits.absolute.totalInstancesUsed }}", "{{ limits.absolute.maxTotalInstances }}", "Instances:");
                        </script>
                    </div>
                    <div class="ram-quota">
                        <script>
                            generateQuotaBar($(".ram-quota"), "{{ limits.absolute.totalRAMUsed }}", "{{ limits.absolute.maxTotalRAMSize }}", "RAM:");
                        </script>
                    </div>
                    <div class="security-groups-quota">
                        <script>
                            generateQuotaBar($(".security-groups-quota"), "{{ limits.absolute.totalSecurityGroupsUsed }}", "{{ limits.absolute.maxSecurityGroups }}", "Security Groups:");
                        </script>
                    </div>
                    <div class="floating-ips-quota">
                        <script>
                            generateQuotaBar($(".floating-ips-quota"), "{{ limits.absolute.totalFloatingIpsUsed }}", "{{ limits.absolute.maxTotalFloatingIps }}", "Floating IPs:");
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>