<!-- Begin Security Groups widget-->
<div class="span4">
    <div class="well">
        <div class="legend">
            Security Groups
            <a href="#" id="create-security-group" class="btn" style="float:right">Create</a>
        </div>

        <div id="sec-group-dialog-form" title="Create new security group">
            <p class="validateTips">Default transport protocol is TCP. Port defaults of 443,80,22 will be preserved if
                left blank (changing ports is only recommended for advanced users.)</p>

            <form>
                {% csrf_token %}
                <fieldset>
                    <label for="groupname">Group Name</label>
                    <input type="text" name="groupname" id="groupname" value=""
                           class="text ui-widget-content ui-corner-all"/>
                    <label for="groupdesc">Group Description</label>
                    <input type="text" name="groupdesc" id="groupdesc" value=""
                           class="text ui-widget-content ui-corner-all"/>
                    <label>Transport Protocol</label>
                    <label>
                        TCP:
                        <input type="radio" name="transport" id="tcp" value='tcp' checked>
                    </label>
                    <label>
                        UDP:
                        <input type="radio" name="transport" id="udp" value='udp'>
                    </label>
                    <label for="ports">Ports</label>
                    <input type="text" name="ports" id="ports" value="443,80,22"
                           class="text ui-widget-content ui-corner-all"/>
                </fieldset>
            </form>
        </div>

        <!--<div id="sec-group-update-form" title="Update Security Group">-->
            <!--<p class="validateTips">Default transport protocol is TCP. Port defaults are 443,80,22 (changing ports is-->
                <!--only recommended for advanced users.) Enable Ping defaults to true.</p>-->

            <!--<form>-->
                <!--{% csrf_token %}-->
                <!--<fieldset>-->
                    <!--<label>Transport Protocol</label>-->
                    <!--<label>-->
                        <!--TCP:-->
                        <!--<input type="radio" name="update_transport" id="update_tcp" value='tcp' checked>-->
                    <!--</label>-->
                    <!--<label>-->
                        <!--UDP:-->
                        <!--<input type="radio" name="update_transport" id="update_udp" value='udp'>-->
                    <!--</label>-->
                    <!--<label for="update_ports">Ports</label>-->
                    <!--<input type="text" name="ports" id="update_ports" value="443,80,22"-->
                           <!--class="text ui-widget-content ui-corner-all"/>-->
                    <!--<label>Enable Ping</label>-->
                    <!--<label>-->
                        <!--true:-->
                        <!--<input type="radio" name="enable_ping" id="true" value='true' checked>-->
                    <!--</label>-->
                    <!--<label>-->
                        <!--false:-->
                        <!--<input type="radio" name="enable_ping" id="false" value='false'>-->
                    <!--</label>-->
                <!--</fieldset>-->
            <!--</form>-->
        <!--</div>-->

        <div id="sec-group-delete-confirm-form" title="Delete Security Group">
            <p style="text-align:center;">Delete <span class="secGroup-name"></span>?</p>
        </div>

        <table class="paleblue widget-table" id="secGroup_list">
            <tr>
                <th>Security Group</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
            {% if sec_groups %}
            {% for sg in sec_groups %}

            <script>
                securityGroups.setItem("{{ sg.sec_group_id }}",
                        { id: "{{ sg.sec_group_id }}", name: "{{sg.sec_group_name}}" })
            </script>

            <tr id="{{ sg.sec_group_id }}">
                <td id="{{ sg.sec_group_id }}-name-cell"><span id="{{ sg.sec_group_id }}-name-text">{{sg.sec_group_name}}</span>
                <td id="{{ sg.sec_group_id }}-name-cell">
                    <a href="/security_group/{{sg.sec_group_id}}/{{sg.project_id}}/view/">
                        <span id="{{ sg.sec_group_id }}-name-text">{{sg.sec_group_name}}</span>
                    </a>
                </td>
                <td id="{{ sg.sec_group_id }}-username-cell">
                    <span id="{{ sg.sec_group_id }}-username-text">{{sg.username}}</span>
                </td>
                <td id="{{ sg.sec_group_id }}-actions-cell">
                    <a href="#" class="delete-secGroup">delete</a>
                    <!--<span> | </span>-->
                    <!--<a href="#" class="update-secGroup">update</a>-->
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr id="secGroup_placeholder">
                <td><p><i>This project has no security groups</i></p></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </table>
        <div id="secGroup_progressbar" class="ui-progressbar"
             style="height: 1em; margin: 10px 0 0 0; padding: .2em; display: none;"></div>
    </div>
</div>
