<!-- Begin user widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Users   
             {% if user_level == 0 %}
	     <a href="#" id="create-user" class="btn btn-mini btn-inverse" style="float:right">New User</a>
	     {% endif %}
             {% if ouserinfo%}
                <a href="#" id="add-existing-user" class="btn btn-mini btn-inverse" style="float:right"> Add Existing User</a>
             {% endif %}
          </div>


          <div id="dialog-form" title="Create new user">
                <p class="validateTips">All form fields are required.</p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="username">Name</label>
                    <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" />
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
		    <label for="confirm">Confirm Password</label>
                    <input type="password" name="confirm" id="confirm" value="" class="text ui-widget-content ui-corner-all" />
                    <select name="role" id="role">
                        <option value="user">User</option>
                        <option value="pu">Power User</option>
                        <option value="admin">Admin</option>
                    </select>
                </fieldset>
                </form>
            </div>

            <div id="dialog-form-add-existing-user" title="Add Existing user">
                <p class="validateTips">All form fields are required.</p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="username">Name</label>
                    <select name="username" id="username">
                        {% for ouser in ouserinfo %}
                            <option value="{{ouser}}">{{ouser}}</option>
                        {% endfor %}
                    </select>
                    <select name="role" id="role">
                        <option value="user">User</option>
                        <option value="pu">Power User</option>
                        <option value="admin">Admin</option>
                    </select>
                  
                </fieldset>
                </form>
            </div>

          <table class="paleblue" id="users">
                <tr> <th>User</th>  <th>Actions</th>  </tr>
                {% load extratags %}
                {% for pu in users %}
                  {% with pu.username as username %}
		    {% with userinfo|access:username as ui %}
			<tr id="{{username}}" {% if ui.user_enabled == "FALSE" %} class="user_disabled" {% endif %}>
			  <td id="{{username}}_info">
			    {% if ui.user_enabled == "FALSE" %}
			      <i class="icon-warning-sign"></i>
			    {% endif %}
			    <b>
			      <a href="/projects/{{ project.project_name}}/{{ project.project_id}}/user/{{pu.username}}/view/">{{username}}</a>
			    </b>   (<a href="mailto:{{ui.email}}">{{ui.email}}</a>) <span class="right">{{ui.user_role}}</span>

			  </td>

			  <td>
			   {% if user_level == 0 %}
			    {% include "coal/toggle_user.html" %}    |
			    <a href="/remove_user_from_project/{{ui.user_id}}/{{ project.project_id}}/">remove</a> |
			    <a href="/delete_user/{{pu.username}}/{{ui.user_id}}/" data-confirm="This will completely erase {{pu.username}} from all projects. Are you sure?"> delete</a>
			   {% endif %}
			  </td>
			</tr>

                    {% endwith %}
                  {% endwith %}
                {% endfor %}
          </table>

        </div>
      </div>
