<h1 class="page-header">{{ project.project_name }} Storage</h1>

{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="row-fluid">
    <div class="col-sm-6">
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead>
            <tr class="bg-primary">
                <th>Volume</th>
                <th>Attached</th>
                <th>
                    <button id="create-volume" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if volumes %}
                {% for volume in volumes %}
                    <script>
                        console.log("{{ volume.info }}")
                    </script>
                    {% if volume.info.volume_set_bootable %}
                        <tr id="{{ volume.info.volume_id }}"
                            class="volume {% if volume.info.volume_attached == 'true' %}attached{% endif %}">
                            <td class="volume-name">
                                <a href="/projects/{{ project.project_id }}/volumes/{{ volume.info.volume_id }}/view/">{{ volume.info.volume_name }}</a>
                            </td>
                            <td class="volume-attached">
                                {% if volume.info.volume_attached == 'false' %}
                                    <span class="attached-placeholder">No Attached Instance</span>
                                {% else %}
                                    <span class="attached-instance">{{ volume.info.volume_instance.server_name }}</span>
                                {% endif %}
                            </td>
                            <td class="volume-actions">
                                <div class="btn-group actions-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false">
                                        Actions
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu table-dropdown">
                                        {% if volume.info.volume_attached == 'true' %}
                                            <li><a href="#" class="detach-volume">detach</a></li>
                                        {% else %}
                                            <li><a href="#" class="attach-volume">attach</a></li>
                                        {% endif %}
                                        <li><a href="#" class="clone-volume">clone</a></li>
                                        <li><a href="#" class="revert-volume">revert</a></li>
                                        <li><a href="#" class="delete-volume">delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr class="volume-placeholder text-warning">
                    <td><p><i>This project has no volumes</i></p></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Storage Stats</h3>
            </div>
            <div class="panel-body center-text">
                <span id="volume-stats">
                    <script>
                        generateQuotaPie("volume-stats", [['used', "{{ tenant_info.num_vols }}"], ['available', "{{ quota.volumes }}"]], "# Volumes");
                    </script>
                </span>
                <span id="snapshot-stats">
                    <script>
                        generateQuotaPie("snapshot-stats", [['used', "{{ tenant_info.num_snaps }}"], ['available', "{{ quota.snapshots }}"]], "# Snapshots");
                    </script>
                </span>
                <span id="storage-stats">
                    <script>
                        generateQuotaPie("storage-stats", [['used', "{{ tenant_info.num_vols }}"], ['available', "{{ quota.gigabytes }}"]], "Storage (gb)");
                    </script>
                </span>
            </div>
        </div>
    </div>
</div>

<h3 class="page-header">Snapshots and Boot Volumes</h3>

<div class="row-fluid">
    <div class="col-sm-6">
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead class="bg-primary">
            <tr>
                <th>Snapshot</th>
                <th>Volume</th>
                <th>
                    <button id="import-image" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if snapshots %}
                {% for snapshot in snapshots %}
                    <tr id="{{ snapshot.image_id }}" class="snapshot">
                        <td class="snapshot-name">
                            <a href="/snapshot/{{ snapshot.snapshot_id }}/view/">
                            <span data-toggle="tooltip" data-placement="right"
                                  title="ID: {{ snapshot.snapshot_id }}">{{ snapshot.snapshot_name }}</span>
                            </a>
                        </td>
                        <td class="snapshot-volume">
                            {{ snapshot.volume_name }}
                        </td>
                        <td class="snapshot-actions">
                            <div class="btn-group actions-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu table-dropdown">
                                    <li><a href="#" class="delete-snapshot">delete</a></li>
                                    <li><a href="#" class="create-volume-from-snapshot">create volume</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="snapshot-placeholder text-warning">
                    <td><p><i>This project has no volume snapshots.</i></p></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}</tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped table-hover table-responsive table-bordered">
            <thead class="bg-primary">
            <tr>
                <th>Boot Volume</th>
                <th>Attached</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if boot_volumes %}
                {% for volume in boot_volumes %}
                    <tr id="{{ volume.info.volume_id }}"
                        class="volume {% if volume.info.volume_attached == 'true' %}attached{% endif %}">
                        <td class="volume-name">
                            <a href="/projects/{{ project.project_id }}/volumes/{{ volume.info.volume_id }}/view/">{{ volume.info.volume_name }}</a>
                        </td>
                        <td class="volume-attached">
                            {% if volume.info.volume_attached == 'false' %}
                                <span class="attached-placeholder">No Attached Instance</span>
                            {% else %}
                                <span class="attached-instance">{{ volume.info.volume_instance.server_name }}</span>
                            {% endif %}
                        </td>
                        <td class="volume-actions">
                            <div class="btn-group actions-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu table-dropdown">
                                    {% if v.volume_attached == 'false' %}
                                        <li><a href="#" class="attach-volume">attach</a></li>
                                        <li><a href="#" class="clone-volume">clone</a></li>
                                        <li><a href="#" class="revert-volume">revert</a></li>
                                        <li><a href="#" class="delete-volume">delete</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="placeholder text-warning">
                    <td><p><i>This project has no boot volumes.</i></p></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>