<!-- Begin volume widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Volume Storage
		<a href="#"  id="create-volume" class="btn btn-mini btn-inverse" style="float:right">New Volume</a>	
          </div>

	    <div id="volume-dialog-form" title="Create new volume">
 		<p class="validateTips">All fields except description are required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="volume_name">Volume Name</label>
                    <input type="text" name="volume_name" id="volume_name"  class="text ui-widget-content ui-corner-all" />
                    <label for="volume_size">Volume Size</label>
                    <input type="text" name="volume_size" id="volume_size"  class="text ui-widget-content ui-corner-all" />
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>

	

           <table class="paleblue">
	    {% if volumes %}
                <tr> <th>Volume</th> <th>Actions</th></tr>
                    {% for volume in volumes %}
		      <tr> <td>{{volume.volume_name}}</td>  <td><a href="/projects/{{ project.project_id}}/volumes/{{volume.volume_id}}/">view</a> </td></tr>
		    {% endfor %}
		{% else %}
		  <p><i>This project has no volumes</i></p>
		{% endif %}
          </table>
        </div>
      </div>
