<!-- Begin volume widget-->
      <div class="span4">
        <div class="well">
          <div class="legend">
             Volume Storage

		<a href="#" id="create-volume" class="btn btn-mini btn-inverse" style="float:right">New Volume</a>
	      {% if volumes %}
		<a href="#" id="attach_vol" class="btn btn-mini" style="float:right">Attach</a>
	      {% endif %}

          </div>

	    <div id="volume-dialog-form" title="Create new volume">
 		<p class="validateTips">All fields except description are required.  </p>
                <form>
                {% csrf_token %}
                <fieldset>
                    <label for="volume_name">Volume Name</label>
                    <input type="text" name="volume_name" id="volume_name"  class="text ui-widget-content ui-corner-all" />
                    <label for="volume_size">Volume Size (GB)</label>
                    <input type="text" name="volume_size" id="volume_size"  class="text ui-widget-content ui-corner-all" />
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description"  class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>

	    <div id="volume-attach-dialog-form" title="Attach volume to instance">
                <p class="validateTips">Attach a volume to an instance.  </p>
		<form>
                {% csrf_token %}
                <fieldset>
		    <label for="att_volume">Volume</label>
                    <select name="att_volume" id="att_volume">
			{% for k,v in volume_info.items %}
			  {% if v.volume_attached == 'false' %}
			    <option value="{{v.volume_id}}">{{v.volume_name}}</option>
			  {% endif %}
			{% endfor %}
                    </select>
		    <label for="att_instance">Instance</label>
                    <select name="att_instance" id="att_instance">
			{% for server in instances %}
		   	    <option value="{{server.server_id}}">{{server.server_name}}</option>
			{% endfor %}
                    </select>
                </fieldset>
                </form>
           </div>


           <table class="paleblue">
	    {% if volumes %}
                <tr> <th>Volume</th> <th>Attached To</th> <th>Actions</th></tr>
                    {% for k,v in volume_info.items %}
		      <tr> <td><a href="/projects/{{project.project_id}}/volumes/{{ v.volume_id }}/view/">{{v.volume_name}}</a></td>
		  <td>
		   {% if v.volume_attached == 'false' %}
		     NONE
		   {% else %}
		     {% for server in instances %}
		       {% if server.server_id == v.volume_instance %}
			 {{server.server_name}}
		       {% endif %}
		     {% endfor %}
		   {% endif %}
		  </td>
		  <td>
		    <a href="/delete_volume/{{v.volume_id}}/{{ project.project_id}}/" data-confirm="This will completely remove {{v.volume_name}} from this project. Are you sure?">delete</a>
		    {% if v.volume_attached == 'true' %}
		       | <a href="/detach_volume/{{ project.project_id}}/{{v.volume_id}}/" class="btn btn-mini">detach</a>
		    {% endif %}
		  </td>
		</tr>
		    {% endfor %}
		{% else %}
		  <p><i>This project has no volumes</i></p>
		{% endif %}
          </table>
        </div>
      </div>
