{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title " id="modal-label">Create Instance Specification</h4>
</div>

<div class="modal-body bg-default-light">
    <div class="container-fluid">
        <div class="row-fluid">
            <form id="flavor-form" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group col-sm-12">
                        <label for="flavor-name" class="col-sm-4 control-label">Name:</label>
                        <input type="text" name="flavorName" id="flavor-name" placeholder="Specification Name"
                               class="col-sm-8">
                    </div>
                    <h4>Specification Options</h4>
                    <hr class="narrow">
                    <div class="form-group col-sm-12">
                        <label for="flavor-ram" class="col-sm-4 control-label">Memory (mb):</label>
                        <input type="text" name="flavorRam" id="flavor-ram" placeholder="Memory in megabytes"
                               class="col-sm-8">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="flavor-disk" class="col-sm-4 control-label">Space (gb):</label>
                        <input type="text" name="flavorDisk" id="flavor-disk" placeholder="Space in gigabytes"
                               class="col-sm-8">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="flavor-cpus" class="col-sm-4 control-label">CPUs:</label>
                        <input type="text" name="flavorCpus" id="flavor-cpus" placeholder="Number of CPUs"
                               class="col-sm-8">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-loading-text="Close">Close</button>
    <button type="submit" form="flavor-form" class="btn btn-primary" data-loading-text="Loading ..." disabled>
        Confirm
    </button>
</div>

<script>
    $(function () {
        var buttons = $(this).parent().parent().find('button'),
                page = $("#page-content"),
                instances = $("#instance-container");
        $("#flavor-form").validate({
            rules: {
                flavorName: {
                    required: true,
                    charField: true,
                    minlength: standardStringMin,
                    maxlength: standardStringMax
                },
                flavorRam: {
                    required: true,
                    number: true,
                    min: 1
                },
                flavorDisk: {
                    required: true,
                    number: true,
                    min: 1
                },
                flavorCpus: {
                    required: true,
                    number: true,
                    min: 1
                }
            },
            submitHandler: function () {
                setModalButtons(false, buttons);
                showMessage('info', "Creating new Instance Specification");

                $.getJSON('/create_vm_spec/' + $("#flavor-name").val() + '/' + $("#flavor-ram").val() + '/' + $("#flavor-disk").val() + '/' + $("#flavor-cpus").val() + '/')
                        .done(function (data) {
                            if (data.status == 'error') {
                                showMessage('error', data.message);
                            }
                            if (data.status == 'success') {
                                showMessage('success', "Created Instance Specification " + data.flavor_name + ".");
                                refreshContainer(page, instances, "/projects/" + CURRENT_PROJECT_ID + "/get_instance_panel/");
                            }
                        })
                        .fail(function () {
                            showMessage('error', 'Server Fault');	// Flag server fault message
                        });
                closeModal();
            }
        });

        $("form input, form select").on("change focus keyup", function () {
            window.setTimeout(function () {
                if ($("#flavor-form").valid()) {
                    $('button[type=submit]').removeProp("disabled");
                } else {
                    $('button[type=submit]').prop("disabled", true);
                }
            }, 1000);
        });
    });
</script>