{% if error %}
    <script>showMessage('error', "{{ error }}");</script>
{% endif %}

{#            $("<div></div>").prop("id", "instance-dialog-form").prop("title", "Create Instance")#}
{#                .append($("<h6>Create a new instance. All form fields are required.</h6>").addClass("validateTips"))#}
{#                .append($("<form></form>")#}
{#                    .append($("<fieldset></fieldset>")#}
{#                        .append($("<label>Instance Name</label>").prop("for", "name"))#}
{#                        .append($("<input></input>").prop("id", "name").prop("name", "name").prop("type", "text")))#}
{#                    .append($("<fieldset></fieldset>").addClass("tall")#}
{#                        .append($("<legend>Instance Options</legend>"))#}
{#                        .append($("<label>Image</label>").prop("for", "image"))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "image").prop("name", "image")))#}
{#                        .append($("<label>Flavor</label>").prop("for", "flavor"))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "flavor").prop("name", "flavor")))#}
{#                        .append($("<label>Boot Options</label>").prop("for", "Boot Options"))#}
{#                        .append($("<span>(help)<span>").addClass("helper").prop("title", 'To store all instance data on a physical volume, choose "Boot From Volume"; otherwise, all instance data will be lost on instance deletion.'))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "boot-option").prop("name", "boot-option")#}
{#                                .append($("<option>Boot Ephemeral</option>").prop("value", "false"))#}
{#                                .append($("<option>Boot From Volume</option>").prop("value", "true"))#}
{#                                .click(function (event) {#}
{#                                    event.preventDefault();#}
{#                                    toggleBootOptions($("#boot-option").val());#}
{#                                }))))#}
{#                    .append($("<fieldset></fieldset>").addClass("tall")#}
{#                        .append($("<legend>Network & Security</legend>"))#}
{#                        .append($("<label>Private Network</label>").prop("for", "network"))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "network").prop("name", "network")))#}
{#                        .append($("<label>Security Group</label>").prop("for", "group"))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "group").prop("name", "group")))#}
{#                        .append($("<label>Security Key</label>").prop("for", "key"))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "key").prop("name", "key"))))#}
{#                    .append($("<fieldset></fieldset>").prop("id", "instance-boot-options").css("display", "None").addClass("wide")#}
{#                        .append($("<legend>Boot Volume Options</legend>"))#}
{#                        .append($("<label>Boot Volume Name</label>").prop("for", "boot-name").css("margin-top", "15px"))#}
{#                        .append($("<input></input>").prop("id", "boot-name").prop("name", "boot-name").prop("type", "text").prop("placeholder", "Optional"))#}
{#                        .append($("<label>Boot Volume Type</label>").prop("for", "boot-type").css("margin-top", "14px").css("vertical-align", "top"))#}
{#                        .append($("<div></div").addClass("styled-select")#}
{#                            .append($("<select></select>").prop("id", "boot-type").prop("name", "boot-type")))#}
{#                        .append($("<label>Boot Volume Size</label>").prop("for", "boot-size"))#}
{#                        .append($("<input></input>").prop("id", "boot-size").prop("name", "boot-size").prop("type", "text"))));#}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-loading-text="&times;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title " id="modal-label">Create Instance</h4>
</div>

<div class="modal-body bg-default-light">
    <div class="container-fluid">
        <div class="row-fluid">
            <form id="instance-form" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group col-sm-12">
                        <label for="instance-name" class="col-sm-4 control-label">Name:</label>
                        <input type="text" name="instanceName" id="instance-name" placeholder="Instance Name"
                               class="col-sm-8">
                    </div>
                    <h4>Instance Options</h4>
                    <hr class="narrow">
                    <div class="form-group col-sm-12">
                        <label for="instance-image" class="col-sm-4 control-label">Image:</label>
                        <select name="instanceImage" id="instance-image" class="col-sm-8">
                            {% for image in images %}
                                <option value="{{ image.image_id }}">{{ image.image_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="instance-flavor" class="col-sm-4 control-label">Settings:</label>
                        <select name="instanceFlavor" id="instance-flavor" class="col-sm-8">
                            {% for flavor in flavors %}
                                <option value="{{ flavor.info.id }}">{{ flavor.info.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="instance-network" class="col-sm-4 control-label">Network:</label>
                        <select name="instanceNetwork" id="instance-network" class="col-sm-8">
                            {% for network in networks %}
                                <option value="{{ network.net_name }}">{{ network.net_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="instance-group" class="col-sm-4 control-label">Security Group:</label>
                        <select name="instanceGroup" id="instance-group" class="col-sm-8">
                            {% for group in groups %}
                                <option value="{{ group.sec_group_name }}">{{ group.sec_group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="instance-key" class="col-sm-4 control-label">Security Key:</label>
                        <select name="instanceKey" id="instance-key" class="col-sm-8">
                            {% for key in keys %}
                                <option value="{{ key.key_name }}">{{ key.key_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="instance-boot" class="col-sm-4 control-label"><i class="fa fa-info-circle"
                                                                                     data-toggle="tooltip"
                                                                                     data-placement="bottom"
                                                                                     title="To store all instance data on a physical volume, choose 'Boot From Volume'; otherwise, all instance data will be lost on instance deletion."></i>
                            Boot Options :</label>
                        <select name="instanceBoot" id="instance-boot" class="col-sm-8">
                            <option value="ephemeral">Boot Ephemeral</option>
                            <option value="volume">Boot From Volume</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <form id="boot-form" class="form-horizontal">
                <fieldset>
                    <h4>Boot Volume Options</h4>
                    <hr class="narrow">
                    <div class="form-group col-sm-12">
                        <label for="boot-name" class="col-sm-4 control-label">Name:</label>
                        <input type="text" name="bootName" id="boot-name" placeholder="Volume Name"
                               class="col-sm-8" disabled="disabled">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="boot-type" class="col-sm-4 control-label">Type:</label>
                        <select name="bootType" id="boot-type" class="col-sm-8" disabled="disabled">
                            {% for type in volume_types %}
                                <option value="{{ type.name }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="boot-size" class="col-sm-4 control-label">size:</label>
                        <input type="text" name="bootSize" id="boot-size" placeholder="Volume Size"
                               class="col-sm-8" disabled="disabled">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-loading-text="Close">Close</button>
    <button type="submit" form="instance-form" class="btn btn-primary" data-loading-text="Loading ..." disabled>
        Confirm
    </button>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
    $(function () {
        var buttons = $(this).parent().parent().find('button'),
                page = $("#page-content"),
                instances = $("#instances-container");
        $("#instance-form").validate({
            rules: {
                instanceName: {
                    required: true,
                    charField: true,
                    minlength: standardStringMin,
                    maxlength: standardStringMax
                },
                instanceImage: {
                    required: true
                },
                instanceFlavor: {
                    required: true
                },
                instanceNetwork: {
                    required: true
                },
                instanceGroup: {
                    required: true
                },
                instanceKey: {
                    required: true
                },
                instanceBoot: {
                    required: true
                }
            },
            submitHandler: function () {
                var isValid = $("#instance-boot").val() == "volume" ? ($("#instance-form").valid() && $("#boot-form").valid()) : ($("#instance-form").valid());
                if (isValid) {
                    setModalButtons(false, buttons);
                    showMessage('info', "Creating new instance ...");

                    var url =
                            '/create_instance/' +
                            $("#instance-name").val() + '/' +
                            $("#instance-group").val() + '/nova/' +
                            $("#instance-flavor").val() + '/' +
                            $("#instance-key").val() + '/' +
                            $("#instance-image").val() + '/' +
                            $("#instance-network").val() + '/' +
                            CURRENT_PROJECT_ID + '/' +
                            ($("#instance-boot").val() == "volume" ? 'true' : 'false') + '/' +
                            ($("#instance-boot").val() == "volume" ? $("#boot-size").val() : 'none') + '/' +
                            ($("#instance-boot").val() == "volume" ? $("#boot-name").val() : 'none') + '/' +
                            ($("#instance-boot").val() == "volume" ? $("#boot-type").val() : 'none') + '/';

                    $.getJSON(url)
                            .done(function (data) {
                                if (data.status == 'error')
                                    showMessage('error', data.message);
                                if (data.status == 'success')
                                    showMessage('success', data.message);
                            })
                            .fail(function () {
                                showMessage('error', 'Server Fault');
                            })
                            .always(function () {
                                refreshContainer(page, instances, "/projects/" + CURRENT_PROJECT_ID + "/get_instance_panel/");
                            });

                    closeModal();
                    showLoader(page);
                    window.setTimeout(function () {
                        removeLoaders();
                        refreshContainer(page, instances, "/projects/" + CURRENT_PROJECT_ID + "/get_instance_panel/");
                    }, 2000);
                }
            },
            invalidHandler: function (event, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var message = errors == 1
                            ? 'You missed 1 field. It has been highlighted'
                            : 'You missed ' + errors + ' fields. They have been highlighted';
                    showMessage('error', message)
                }
            }
        });
        $("#boot-form").validate({
            rules: {
                bootName: {
                    required: true,
                    charField: true,
                    minlength: standardStringMin,
                    maxlength: standardStringMax
                },
                bootType: {
                    required: true
                },
                bootSize: {
                    required: true,
                    range: [1, (parseInt("{{ quota.gigabytes }}") - parseInt("{{ used_storage }}"))]
                }
            },
            invalidHandler: function (event, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var message = errors == 1
                            ? 'You missed 1 field. It has been highlighted'
                            : 'You missed ' + errors + ' fields. They have been highlighted';
                    showMessage('error', message)
                }
            }
        });
        $("#instance-form input, #instance-form select, #bam-form input, #bam-input select").change(function () {
            if ($("#instance-boot").val() == "volume") {
                if ($("#instance-form").valid() && $("#boot-form").valid()) {
                    $('button[type=submit]').removeProp("disabled");
                } else {
                    $('button[type=submit]').prop("disabled", true);
                }
            } else {
                if ($("#instance-form").valid()) {
                    $('button[type=submit]').removeProp("disabled");
                } else {
                    $('button[type=submit]').prop("disabled", true);
                }
            }
        });
        $("#instance-boot").change(function () {
            if ($(this).val() == "volume") {
                $("#boot-form").find("input, select").removeProp("disabled");
            } else {
                $("#boot-form").find("input, select").prop("disabled", true);
            }
        });
    });
</script>